@model IEnumerable<AspMVCECommerce.Models.LineItem>
@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Checkout</h3>
                <ul class="breadcrumb-tree">
                    <li><a href="#">Home</a></li>
                    <li class="active">Checkout</li>
                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-7">
                @using (Html.BeginForm("PaymentWithPaypal", "Home", FormMethod.Post, new { id = "check-out-form" }))
                {
                    @Html.AntiForgeryToken()

                    <!-- Contact Information Details -->
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Contact Information</h3>
                    </div>


                    <div class="form-group">
                        <input class="input form-controlx" type="text" name="FirstName" id="FirstName" placeholder="First Name"  required>
                        <small id="FirstNameVal" class="text-danger" hidden>
                            First name is required!
                        </small>
                    </div>
                    <div class="form-group">
                        <input class="input form-controlx" type="text" name="LastName" id="LastName" placeholder="Last Name">
                        <small id="LastNameVal" class="text-danger" hidden>
                            Last name is required!
                        </small>
                    </div>
                    <div class="form-group">
                        <input class="input form-controlx" type="email" name="Email" id="Email" placeholder="Email">
                        <small id="EmailVal" class="text-danger" hidden>
                            Email is required!
                        </small>
                        <small id="EmailVal2" class="text-danger" hidden>
                            Email is invalid!
                        </small>
                    </div>
                    <div class="form-group">
                        <div class="UrlInput">
                            <label>+63</label>
                            <input name="MobilePhone"  id="MobilePhone" type="text" class="input form-controlx" placeholder="Mobile Number" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                        </div>


                        @*<input class="input" type="tel" name="MobilePhone" id="MobilePhone" placeholder="Mobile Number">*@
                        <small id="MobilePhoneVal" class="text-danger" style=" top: 40px; position: relative;" hidden>
                            Mobile Phone number is required!
                        </small>

                        <small id="MobilePhoneVal2" class="text-danger" style=" top: 40px; position: relative;" hidden>
                            Mobile Phone number is invalid!
                        </small>
                    </div>
                </div>
                    <!-- /Contact Information Details -->

                        <!-- Billing Details -->
                    <div class="billing-details" style="margin-top:80px;">
                        <div class="section-title">
                            <h3 class="title">Billing address</h3>
                        </div>
                        <div class="form-group">
                            <select id="CACountry" name="CACountry" class="form-select input form-controlx">
                                <option value="PH" selected disabled>Philippines</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="input form-controlx" type="text" name="CALine1" id="CALine1" placeholder="Street name. house number, subdivision" autocomplete="on">
                            <small id="CALine1Val" class="text-danger" hidden>
                                Address is required!
                            </small>

                        </div>
                        <div class="form-group">
                            <input class="input form-controlx" type="text" name="CALine2" id="CALine2" placeholder="Barangay / District (optional)" autocomplete="on" >
                        </div>
                        <div class="form-group">
                            <input class="input form-controlx" type="text" name="CACity" id="CACity" placeholder="City / Municipality">

                            <small id="CACityVal" class="text-danger" hidden>
                                City / Municipality is required!
                            </small>
                        </div>
                        <div class="form-group">
                            <input class="input form-controlx" type="text" name="CAPostalCode" id="CAPostalCode" placeholder="ZIP Code (optional)" >
                        </div>
                        <div class="form-group">
                            <select id="CAProvince" name="CAProvince" class="form-select input" style="color: #7d8085">
                                <option value="" style="color:darkgray">Province / Region (optional)</option>
                                <option value="ABRA">Abra</option>
                                <option value="AGUSAN DEL NORTE">Agusan del Norte</option>
                                <option value="AGUSAN DEL SUR">Agusan del Sur</option>
                                <option value="AKLAN">Aklan</option>
                                <option value="ALBAY">Albay</option>
                                <option value="ANTIQUE">Antique</option>
                                <option value="APAYAO">Apayao</option>
                                <option value="AURORA">Aurora</option>
                                <option value="BASILAN">Basilan</option>
                                <option value="BATAAN">Bataan</option>
                                <option value="BATANES">Batanes</option>
                                <option value="BATANGAS">Batangas</option>
                                <option value="BENGUET">Benguet</option>
                                <option value="BILIRAN">Biliran</option>
                                <option value="BOHOL">Bohol</option>
                                <option value="BUKIDNON">Bukidnon</option>
                                <option value="BULACAN">Bulacan</option>
                                <option value="CAGAYAN">Cagayan</option>
                                <option value="CAMARINES NORTE">Camarines Norte</option>
                                <option value="CAMARINES SUR">Camarines Sur</option>
                                <option value="CAMIGUIN">Camiguin</option>
                                <option value="CAPIZ">Capiz</option>
                                <option value="CATANDUANES">Catanduanes</option>
                                <option value="CAVITE">Cavite</option>
                                <option value="CEBU">Cebu</option>
                                <option value="COMPOSTELA VALLEY">Compostela Valley</option>
                                <option value="COTABATO">Cotabato</option>
                                <option value="DAVAO DEL NORTE">Davao del Norte</option>
                                <option value="DAVAO DEL SUR">Davao del Sur</option>
                                <option value="DAVAO ORIENTAL">Davao Oriental</option>
                                <option value="DINAGAT ISLANDS">Dinagat Islands</option>
                                <option value="EASTERN SAMAR">Eastern Samar</option>
                                <option value="GUIMARAS">Guimaras</option>
                                <option value="IFUGAO">Ifugao</option>
                                <option value="ILOCOS NORTE">Ilocos Norte</option>
                                <option value="ILOCOS SUR">Ilocos Sur</option>
                                <option value="ILOILO">Iloilo</option>
                                <option value="ISABELA">Isabela</option>
                                <option value="KALINGA">Kalinga</option>
                                <option value="LA UNION">La Union</option>
                                <option value="LAGUNA">Laguna</option>
                                <option value="LANAO DEL NORTE">Lanao del Norte</option>
                                <option value="LANAO DEL SUR">Lanao del Sur</option>
                                <option value="LEYTE">Leyte</option>
                                <option value="MAGUINDANAO">Maguindanao</option>
                                <option value="MANILA">Manila</option>
                                <option value="MARINDUQUE">Marinduque</option>
                                <option value="MASBATE">Masbate</option>
                                <option value="METRO MANILA">Metro Manila</option>
                                <option value="MINDORO OCCIDENTAL">Mindoro Occidental</option>
                                <option value="MINDORO ORIENTAL">Mindoro Oriental</option>
                                <option value="MISAMIS OCCIDENTAL">Misamis Occidental</option>
                                <option value="MISAMIS ORIENTAL">Misamis Oriental</option>
                                <option value="MOUNTAIN PROVINCE">Mountain Province</option>
                                <option value="NEGROS OCCIDENTAL">Negros Occidental</option>
                                <option value="NEGROS ORIENTAL">Negros Oriental</option>
                                <option value="NORTHERN SAMAR">Northern Samar</option>
                                <option value="NUEVA ECIJA">Nueva Ecija</option>
                                <option value="NUEVA VIZCAYA">Nueva Vizcaya</option>
                                <option value="PALAWAN">Palawan</option>
                                <option value="PAMPANGA">Pampanga</option>
                                <option value="PANGASINAN">Pangasinan</option>
                                <option value="QUEZON">Quezon</option>
                                <option value="QUIRINO">Quirino</option>
                                <option value="RIZAL">Rizal</option>
                                <option value="ROMBLON">Romblon</option>
                                <option value="SAMAR">Samar&nbsp;(Western Samar)</option>
                                <option value="SARANGANI">Sarangani</option>
                                <option value="SIQUIJOR">Siquijor</option>
                                <option value="SORSOGON">Sorsogon</option>
                                <option value="SOUTH COTABATO">South Cotabato</option>
                                <option value="SOUTHERN LEYTE">Southern Leyte</option>
                                <option value="SULTAN KUDARAT">Sultan Kudarat</option>
                                <option value="SULU">Sulu</option>
                                <option value="SURIGAO DEL NORTE">Surigao del Norte</option>
                                <option value="SURIGAO DEL SUR">Surigao del Sur</option>
                                <option value="TARLAC">Tarlac</option>
                                <option value="TAWI-TAWI">Tawi-Tawi</option>
                                <option value="ZAMBALES">Zambales</option>
                                <option value="ZAMBOANGA DEL NORTE">Zamboanga del Norte</option>
                                <option value="ZAMBOANGA DEL SUR">Zamboanga del Sur</option>
                                <option value="ZAMBOANGA SIBUGAY">Zamboanga Sibugay</option>
                            </select>
                        </div>
                        @*<div class="form-group">
                            <div class="input-checkbox">
                                <input type="checkbox" id="create-account">
                                <label for="create-account">
                                    <span></span>
                                    Create Account?
                                </label>
                                <div class="caption">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                    <input class="input" type="password" name="password" placeholder="Enter Your Password">
                                </div>
                            </div>
                        </div>*@
                    </div>
                        <!-- /Billing Details -->
                    <!-- Shiping Details -->
                    <div class="shiping-details">
                        <div class="section-title">
                            <h3 class="title">Shiping address</h3>
                        </div>
                        <div class="input-checkbox">
                            <input type="checkbox" id="shiping-address">
                            <label for="shiping-address">
                                <span></span>
                                Ship to a diffrent address?
                            </label>
                            <div class="caption" style="padding-right: 2px; padding-left: 2px; ">
                                <div class="form-group">
                                    <select id="SACountry" name="SACountry" class="form-select input">
                                        <option value="PH" selected disabled>Philippines</option>

                                    </select>
                                </div>

                                <div class="form-group">
                                    <input class="input form-controlx" type="text" name="RFirstName" id="RFirstName" placeholder="Recipient First Name"  required>
                                    <small id="RFirstNameVal" class="text-danger" hidden>
                                        Recipient First Name is required!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input class="input form-controlx" type="text" name="RLastName" id="RLastName" placeholder="Recipient Last Name">
                                    <small id="RLastNameVal" class="text-danger" hidden>
                                        Recipient Last Name is required!
                                    </small>
                                </div>

                                <div class="form-group">
                                    <input class="input form-controlx" type="text" name="SALine1" id="SALine1" placeholder="Street name. house number, subdivision" autocomplete="on">
                                    <small id="SALine1Val" class="text-danger" hidden>
                                        Address is required!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input class="input form-controlx" type="text" name="SALine2" id="SALine2" placeholder="Barangay / District (optional)" autocomplete="on" >
                                </div>
                                <div class="form-group">
                                    <input class="input form-controlx" type="text" name="SACity" id="SACity" placeholder="City / Municipality">
                                    <small id="SACityVal" class="text-danger" hidden>
                                        City / Municipality is required!
                                    </small>
                                </div>
                                <div class="form-group">
                                    <input class="input form-controlx" type="text" name="SAPostalCode" id="SAPostalCode" placeholder="ZIP Code (optional)" >
                                </div>

                                <div class="form-group">
                                    <select id="SAProvince" name="SAProvince" class="form-select input" style="color: #7d8085">
                                        <option value="" style="color:darkgray">Province / Region (optional)</option>
                                        <option value="ABRA">Abra</option>
                                        <option value="AGUSAN DEL NORTE">Agusan del Norte</option>
                                        <option value="AGUSAN DEL SUR">Agusan del Sur</option>
                                        <option value="AKLAN">Aklan</option>
                                        <option value="ALBAY">Albay</option>
                                        <option value="ANTIQUE">Antique</option>
                                        <option value="APAYAO">Apayao</option>
                                        <option value="AURORA">Aurora</option>
                                        <option value="BASILAN">Basilan</option>
                                        <option value="BATAAN">Bataan</option>
                                        <option value="BATANES">Batanes</option>
                                        <option value="BATANGAS">Batangas</option>
                                        <option value="BENGUET">Benguet</option>
                                        <option value="BILIRAN">Biliran</option>
                                        <option value="BOHOL">Bohol</option>
                                        <option value="BUKIDNON">Bukidnon</option>
                                        <option value="BULACAN">Bulacan</option>
                                        <option value="CAGAYAN">Cagayan</option>
                                        <option value="CAMARINES NORTE">Camarines Norte</option>
                                        <option value="CAMARINES SUR">Camarines Sur</option>
                                        <option value="CAMIGUIN">Camiguin</option>
                                        <option value="CAPIZ">Capiz</option>
                                        <option value="CATANDUANES">Catanduanes</option>
                                        <option value="CAVITE">Cavite</option>
                                        <option value="CEBU">Cebu</option>
                                        <option value="COMPOSTELA VALLEY">Compostela Valley</option>
                                        <option value="COTABATO">Cotabato</option>
                                        <option value="DAVAO DEL NORTE">Davao del Norte</option>
                                        <option value="DAVAO DEL SUR">Davao del Sur</option>
                                        <option value="DAVAO ORIENTAL">Davao Oriental</option>
                                        <option value="DINAGAT ISLANDS">Dinagat Islands</option>
                                        <option value="EASTERN SAMAR">Eastern Samar</option>
                                        <option value="GUIMARAS">Guimaras</option>
                                        <option value="IFUGAO">Ifugao</option>
                                        <option value="ILOCOS NORTE">Ilocos Norte</option>
                                        <option value="ILOCOS SUR">Ilocos Sur</option>
                                        <option value="ILOILO">Iloilo</option>
                                        <option value="ISABELA">Isabela</option>
                                        <option value="KALINGA">Kalinga</option>
                                        <option value="LA UNION">La Union</option>
                                        <option value="LAGUNA">Laguna</option>
                                        <option value="LANAO DEL NORTE">Lanao del Norte</option>
                                        <option value="LANAO DEL SUR">Lanao del Sur</option>
                                        <option value="LEYTE">Leyte</option>
                                        <option value="MAGUINDANAO">Maguindanao</option>
                                        <option value="MANILA">Manila</option>
                                        <option value="MARINDUQUE">Marinduque</option>
                                        <option value="MASBATE">Masbate</option>
                                        <option value="METRO MANILA">Metro Manila</option>
                                        <option value="MINDORO OCCIDENTAL">Mindoro Occidental</option>
                                        <option value="MINDORO ORIENTAL">Mindoro Oriental</option>
                                        <option value="MISAMIS OCCIDENTAL">Misamis Occidental</option>
                                        <option value="MISAMIS ORIENTAL">Misamis Oriental</option>
                                        <option value="MOUNTAIN PROVINCE">Mountain Province</option>
                                        <option value="NEGROS OCCIDENTAL">Negros Occidental</option>
                                        <option value="NEGROS ORIENTAL">Negros Oriental</option>
                                        <option value="NORTHERN SAMAR">Northern Samar</option>
                                        <option value="NUEVA ECIJA">Nueva Ecija</option>
                                        <option value="NUEVA VIZCAYA">Nueva Vizcaya</option>
                                        <option value="PALAWAN">Palawan</option>
                                        <option value="PAMPANGA">Pampanga</option>
                                        <option value="PANGASINAN">Pangasinan</option>
                                        <option value="QUEZON">Quezon</option>
                                        <option value="QUIRINO">Quirino</option>
                                        <option value="RIZAL">Rizal</option>
                                        <option value="ROMBLON">Romblon</option>
                                        <option value="SAMAR">Samar&nbsp;(Western Samar)</option>
                                        <option value="SARANGANI">Sarangani</option>
                                        <option value="SIQUIJOR">Siquijor</option>
                                        <option value="SORSOGON">Sorsogon</option>
                                        <option value="SOUTH COTABATO">South Cotabato</option>
                                        <option value="SOUTHERN LEYTE">Southern Leyte</option>
                                        <option value="SULTAN KUDARAT">Sultan Kudarat</option>
                                        <option value="SULU">Sulu</option>
                                        <option value="SURIGAO DEL NORTE">Surigao del Norte</option>
                                        <option value="SURIGAO DEL SUR">Surigao del Sur</option>
                                        <option value="TARLAC">Tarlac</option>
                                        <option value="TAWI-TAWI">Tawi-Tawi</option>
                                        <option value="ZAMBALES">Zambales</option>
                                        <option value="ZAMBOANGA DEL NORTE">Zamboanga del Norte</option>
                                        <option value="ZAMBOANGA DEL SUR">Zamboanga del Sur</option>
                                        <option value="ZAMBOANGA SIBUGAY">Zamboanga Sibugay</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Shiping Details -->



                    <!-- Order notes -->
                    @*<div class="order-notes">
                        <textarea class="input" placeholder="Order Notes"></textarea>
                    </div>*@
                    <!-- /Order notes -->
                }
            </div>

            <!-- Order Details -->
            <div class="col-md-5 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Your Order</h3>
                </div>
                <div class="order-summary">
                    <div class="order-col">
                        <div><strong>PRODUCT</strong></div>
                        <div><strong>TOTAL</strong></div>
                    </div>
                    <div class="order-products" id="module">
                        <div class="collapse" id="collapseExample" aria-expanded="false">



                            @foreach (var item in Model)
                            {
                                <div class="order-col">
                                    <div>@Html.DisplayFor(modelItem => item.Quantity)x <span style="text-transform:uppercase;">@Html.DisplayFor(modelItem => item.Product.Name)</span></div>
                                    <div>@Html.DisplayFor(modelItem => item.TotalPrice)</div>
                                </div>


                            }

                        </div>


                        @if (Model.Count() > 5)
                        {
                            <a role="button" class="collapsed pull-right" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            </a>
                        }

                        @*<div class="order-col">
                    <div>2x Product Name Goes Here</div>
                    <div>$980.00</div>
                </div>*@
                    </div>
                    <div class="order-col">
                        <div>Shiping</div>
                        <div><strong>FREE</strong></div>
                    </div>
                    <div class="order-col">
                        <div><strong>TOTAL</strong></div>
                        <div><strong class="order-total">@(Model.Sum(p=>p.TotalPrice))</strong></div>
                    </div>
                </div>
                <div class="payment-method">
                    <div class="input-radio">
                        <input type="radio" name="payment" id="payment-1" disabled>
                        <label for="payment-1">
                            <span></span>
                            Direct Bank Transfer
                        </label>
                        <div class="caption">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="input-radio">
                        <input type="radio" name="payment" id="payment-2" disabled>
                        <label for="payment-2">
                            <span></span>
                            Cheque Payment
                        </label>
                        <div class="caption">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="input-radio">
                        <input type="radio" name="payment" id="payment-3" checked>
                        <label for="payment-3">
                            <span></span>
                            Paypal System
                        </label>
                        <div class="caption">
                            <p>Our ecommerce system is fully integrated with paypal with 24/7Transaction monitoring, real-time fraud prevention & a/c protection benefits. Join Over 300m Users. 25 Currencies Supported. Services: Credit card payment, Online payment, Overseas payment, Service catalog, Buyer Protection Policy, Return Shipping Refunds.</p>
                        </div>
                    </div>
                </div>
                <div class="input-checkbox">
                    <input type="checkbox" id="terms"  checked>
                    <label for="terms">
                        <span></span>
                        I've read and accept the <a href="#">terms & conditions</a>
                    </label>
                </div>

                @*@Html.ActionLink("Place order", "PaymentWithPaypal", "Home", new { @class= "primary-btn order-submit",  Cancel = "" })*@
                <a href="#" id="place-order-btn" class="primary-btn order-submit">Place order</a>
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<style>
/*    #module {
        width: 500px;
    }
*/
        #module div.collapse[aria-expanded="false"] {
            display: block;
            height: 200px !important;
            overflow: hidden;
        }

        #module div.collapsing[aria-expanded="false"] {
            height: 200px !important;
        }

        #module a.collapsed:after {
            content: '+ Show More';
        }

        #module a:not(.collapsed):after {
            content: '- Show Less';
        }


    .UrlInput {
        position: relative;
    }

 

        .UrlInput input:focus {
            position: absolute;
            left: 0;
            top: 0;
            padding-left: 42px;
        }


        .UrlInput label {
            position: absolute;
            left: 0px;
            top: 0px;
            color: white;
            z-index: 0;
            line-height: 35px;
            padding-left: 10px;
        }

        .UrlInput input {
            position: absolute;
            left: 0px;
            top: 0;
            padding-left: 15px;
        }


    .UrlInput input:focus::placeholder {
        color: transparent;
    }
</style>

@*<div id="module" >
    <h3>Bacon Ipsum</h3>
    <p class="collapse" id="collapseExample" aria-expanded="false">
        Bacon ipsum dolor amet doner picanha tri-tip biltong leberkas salami meatball tongue filet mignon landjaeger tail. Kielbasa salami tenderloin picanha spare ribs, beef ribs strip steak jerky cow. Pork chop chicken ham hock beef ribs turkey jerky. Shoulder beef capicola doner, tongue tail sausage short ribs andouille. Rump frankfurter landjaeger t-bone, kielbasa doner ham hock shankle venison. Cupim capicola kielbasa t-bone, ball tip chicken andouille venison pork chop doner bacon beef ribs kevin shankle. Short loin leberkas tenderloin ground round shank, brisket strip steak ham hock ham.
    </p>
    <a role="button" class="collapsed" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    </a>
</div>*@


@section Scripts {


    <script type="text/javascript">

        const forValidateFields = ["FirstNameVal", "LastNameVal", "EmailVal", "MobilePhoneVal", "CALine1Val", "CACityVal"];
        const forValidateFields2 = ["RFirstNameVal", "RLastNameVal", "SALine1Val", "SACityVal"];




        function isEmail2(email) {
            var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }


        $(document).ready(function () {


            //$('.UrlInput input').keypress(function () {

            //    if ($(this).val().length >= 10) {
            //        $(this).val($(this).val().substring(0, 9));
            //    }
               
            //});

     
  


            $(".UrlInput input").focus(function () {
                $('.UrlInput label').attr('style', 'font-weight:500;position: absolute;left: 3px;top: 3px;color: #999;z-index: 999;');
                if ($('.UrlInput input').val().trim() != '') {
                    $('.UrlInput input').val($('.UrlInput input').val().trim().replace('+63',''));
                }
                $('#MobilePhoneVal2').hide();
                $('#MobilePhoneVal').hide();
            }).focusout(function () {
                $('#MobilePhoneVal2').hide();
                $('.UrlInput label').attr('style', 'position: absolute;left: 0px;top: 0px;color: white;z-index: 0;');
                if ($('.UrlInput input').val().trim() != '') {
                    $('.UrlInput input').val('+63' + $('.UrlInput input').val().trim());


                    if ($('.UrlInput input').val().length != 13) {
                        $('#MobilePhoneVal2').show();
                    }

                }

            });


            $('.order-total').text('₱' +  parseInt($('.order-total').text()).toLocaleString());

            $('#place-order-btn').click(function () {
                $('#check-out-form').submit();
            });

            $('.form-select.input').change(function () {
                if ($(this).val() == '') {
                    $(this).css('color', '#7d8085');
                }
                else {
                    $(this).css('color', 'black');
                }
            });


            $('#check-out-form').submit(function (event) {
                event.preventDefault(); //this will prevent the default submit

                var haveInvalid = false;

                // HIDE ALL VALIDATION MESSAGE
                for (let i = 0; i < forValidateFields.length; i++) {
                    $('#' + forValidateFields[i]).hide();
                }

                for (let i = 0; i < forValidateFields2.length; i++) {
                    $('#' + forValidateFields2[i]).hide();
                }
                $('#MobilePhoneVal2').hide();
                $('#EmailVal2').hide();
                
                // END OF HIDE ALL VALIDATION MESSAGE


                // CHECK IF FIELD IS INVALID AND SHOW VALIDATION ERROR FOR CONTACT DETAILS AND CUSTOM ADDRESS
                for (let i = 0; i < forValidateFields.length; i++) {
                    if ($('#' + forValidateFields[i].replace('Val','')).val().trim() == '') {
                        $('#' + forValidateFields[i]).show();
                        haveInvalid = true;
                    }
                }
                // END OF CHECK IF FIELD IS INVALID AND SHOW VALIDATION ERROR FOR CONTACT DETAILS AND CUSTOM ADDRESS

                if ($('#shiping-address').prop("checked")) {
                    // CHECK IF FIELD IS INVALID AND SHOW VALIDATION ERROR FOR SHIPPING ADDRESS
                    for (let i = 0; i < forValidateFields2.length; i++) {
                        if ($('#' + forValidateFields2[i].replace('Val', '')).val().trim() == '') {
                            $('#' + forValidateFields2[i]).show();
                            haveInvalid = true;
                        }
                    }
                  // END OF CHECK IF FIELD IS INVALID AND SHOW VALIDATION ERROR FOR SHIPPING ADDRESS
                }

                if ($('.UrlInput input').val().length != 13 && $('.UrlInput input').val().length > 0) {
                    haveInvalid = true;
                    $('#MobilePhoneVal2').show();
                }

                if (!isEmail2($('#Email').val()) && $('#Email').val().length > 0) {
                    haveInvalid = true;
                    $('#EmailVal2').show();
                }

                if (haveInvalid) {
                    return;
                }

                $(this).unbind('submit').submit(); // continue the submit unbind preventDefault
            });

        });
    </script>
}


