@model AspMVCECommerce.Models.Product
@using System.Linq;
@using System.Collections.Generic;

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">


    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li>Product</li>
                    <li class="active" id="li-product-id">Id: @Html.DisplayFor(model => model.ProductId)</li>

                </ul>


                <ul class="breadcrumb-tree pull-right">
                    <li> @Html.ActionLink("Back to List", "Index")</li>



                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">


                    @foreach (var img in Model.Images.OrderByDescending(i => i.Default))
                    {
                        <div class="product-preview" style="display: block; width: 458px; height: 458px;">
                            <img class="main-image-x" src="@Url.Content(img.ImagePath)" alt="">
                        </div>
                    }




                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">

                    @foreach (var img in Model.Images.OrderByDescending(i => i.Default))
                    {
                        <div class="product-preview" style="display: block; width: 143px; height: 143px; padding: 5px;">
                            <img class="thumb-image-x" src="@Url.Content(img.ImagePath)" alt="">
                        </div>
                    }


                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">@Html.DisplayFor(model => model.Name)</h2>

                    <div>
                        <div class="product-rating" id="product-average-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link" data-toggle="tab" href="#tab3" >10 Review(s) | Add your review</a>
                    </div>
                    <div>
                        @if (Model.PromoSaleOFF > 0)
                        {
                            if (DateTime.Now >= Model.PromoSaleStartDateTime && DateTime.Now <= Model.PromoSaleEndDateTime)
                            {
                                <h3 class="product-price">@Html.DisplayFor(model => model.DiscountedPrice) <del class="product-old-price">@Html.DisplayFor(model => model.OriginalPrice)</del></h3>
                            }
                            else
                            {
                                <h3 class="product-price">@Html.DisplayFor(model => model.OriginalPrice)</h3>
                            }
                        }
                        else
                        {
                            <h3 class="product-price">@Html.DisplayFor(model => model.OriginalPrice)</h3>
                        }

                        <span class="product-available"> @Html.DisplayFor(model => model.Stock) In Stock</span>
                    </div>
                    <p id="pDescription1"></p>

                    @*<p>@Html.DisplayFor(model => model.Description)</p>*@




                    <div class="product-options">
                        <label>
                            Size
                            <select class="input-select">
                                <option value="0">X</option>
                            </select>
                        </label>
                        <label>
                            Color
                            <select class="input-select">
                                <option value="0">Red</option>
                            </select>
                        </label>
                    </div>

                    <div class="add-to-cart">
                        <div class="qty-label">
                            Qty
                            <div class="input-number">
                                <input type="number">
                                <span class="qty-up">+</span>
                                <span class="qty-down">-</span>
                            </div>
                        </div>
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> add to wishlist</a></li>
                        <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a href="#"> @Html.DisplayFor(model => model.Category.Name)</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Brand:</li>
                        <li><a href="#"> @Html.DisplayFor(model => model.Brand.Name)</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Share:</li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>
                    </ul>


                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li class="active"><a data-toggle="tab" href="#tab2">Details</a></li>
                        <li><a data-toggle="tab" href="#tab3" id="reviews-tab">Reviews (3)</a></li>
                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p id="pDescription2"></p>
                                    @*<p>  @Html.DisplayFor(model => model.Description)</p>*@
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in  active">
                            <div class="row">
                                <div class="col-md-12">
                                    @*<p>     @Html.DisplayFor(model => model.Details)</p>*@
                                    <p id="pDetails"> </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->
                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span id="average-rating">4.5</span>
                                            <div class="rating-stars" id="average-rating-star">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                        </div>
                                        <ul class="rating" style="list-style: none;">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 0%;" id="r5-progress"></div>
                                                </div>
                                                <span class="sum" id="r5-sum">3</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 0%;" id="r4-progress"></div>
                                                </div>
                                                <span class="sum" id="r4-sum">2</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 0%;" id="r3-progress"></div>
                                                </div>
                                                <span class="sum" id="r3-sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 0%;" id="r2-progress"></div>
                                                </div>
                                                <span class="sum" id="r2-sum">0</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 0%;" id="r1-progress"></div>
                                                </div>
                                                <span class="sum" id="r1-sum">0</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->
                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <table id="reviewTable" style="width: 100%; border-bottom: none">
                                        <thead>
                                            <tr hidden>
                                                <th>ID</th>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Description</th>
                                                <th>Rating</th>
                                                <th>Created</th>
                                                <th>ProductId</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                                <td>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- /Reviews -->
                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">

                                        <form class="review-form">

                                            <input class="input form-controlx" type="text" placeholder="Your Name" id="review-form-name" required>
                                            <p class="text-danger" id="name-validation" hidden>Name is required!</p>

                                            <input class="input form-controlx" type="email" placeholder="Your Email" id="review-form-email" required>
                                            <p class="text-danger" id="email-validation" hidden>Email is required!</p>
                                            <p class="text-danger" id="valid-email-validation" hidden>Invalid email!</p>

                                            <textarea class="input form-controlx" placeholder="Your Review" id="review-form-review" required></textarea>
                                            <p class="text-danger" id="review-validation" hidden>Review is required!</p>
                                            <div class="input-rating">
                                                <span>Your Rating: </span>
                                                <div class="stars">
                                                    <input class="review-form-radio" id="star5" name="rating" value="5" type="radio"><label for="star5"></label>
                                                    <input class="review-form-radio" id="star4" name="rating" value="4" type="radio"><label for="star4"></label>
                                                    <input class="review-form-radio" id="star3" name="rating" value="3" type="radio"><label for="star3"></label>
                                                    <input class="review-form-radio" id="star2" name="rating" value="2" type="radio"><label for="star2"></label>
                                                    <input class="review-form-radio" id="star1" name="rating" value="1" type="radio"><label for="star1"></label>
                                                </div>
                                                <p class="text-danger" id="rating-validation" hidden>Rating is required!</p>
                                            </div>
                                            <button class="primary-btn" id="review-form-btn">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- /tab3  -->

                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
<!-- Section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="section-title text-center">
                    <h3 class="title">Related Products</h3>
                </div>
            </div>

            <!-- product -->
            @*<div class="col-md-3 col-xs-6">
                <div class="product">
                    <div class="product-img">
                        <img src="~/FrontEnd/img/product01.png" alt="">
                        <div class="product-label">
                            <span class="sale">-30%</span>
                        </div>
                    </div>
                    <div class="product-body">
                        <p class="product-category">Category</p>
                        <h3 class="product-name"><a href="#">product name goes here</a></h3>
                        <h4 class="product-price">$980.00 <del class="product-old-price">$990.00</del></h4>
                        <div class="product-rating">
                        </div>
                        <div class="product-btns">
                            <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                            <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                            <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                        </div>
                    </div>
                    <div class="add-to-cart">
                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                    </div>
                </div>
            </div>*@
            <!-- /product -->
            <!-- load product zaldy -->
           
            <!-- store products -->
           
          @if (ViewBag.RelatedProduct != null)
          {
              foreach (var item in ViewBag.RelatedProduct)
              {
                    <!-- product -->
                    <div class="col-md-3 col-xs-6">

                        <div class="product productx">
                            <div class="product-img">
                                @if (item.Images.Count > 0)
                                {

                                    var itemImages = item.Images;

                                    foreach (var itemImage in itemImages)
                                    {
                                        if (itemImage.Default)
                                        {
                                            <img src="@Url.Content(itemImage.ImagePath)" alt="@itemImage.Title">

                                            break;
                                        }
                                    }
                                }


                                <div class="product-label">


                                    @if (item.PromoSaleOFF > 0)
                                    {
                                        if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                                        {
                                            <span class="sale">
                                                -@(double.Parse(@item.PromoSaleOFF.ToString()) * 100)<label class="danger">%</label>
                                            </span>

                                        }

                                    }


                                    @if ((DateTime.Now - item.CreatedDateTime).TotalDays <= 30)
                                    {
                                        <span class="new">NEW</span>
                                    }



                                </div>
                            </div>
                            <div class="product-body">
                                <p class="product-category">@item.Category.Name</p>
                                <h3 class="product-name"><a href="/Home/Product?productId=@item.ProductId" class="product-namex">@item.Name</a></h3>


                                @if (item.PromoSaleOFF > 0)
                                {
                                    if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                                    {

                                        <h4 class="product-price">₱@Convert.ToDecimal(item.DiscountedPrice).ToString("#,##0.00") <del class="product-old-price">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</del></h4>
                                        @*<h4 class="product-price">@item.DiscountedPrice <del class="product-old-price">@item.OriginalPrice</del></h4>*@
                                    }
                                    else
                                    {
                                        <h4 class="product-price">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                                    }
                                }
                                else
                                {
                                    <h4 class="product-price">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                                }



                                @*<div class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>*@


                                <div class="product-rating">
                                    @if (item.AverageRating != null)
                                    {
                                        for (int i = 0; i < item.AverageRating; i++)
                                        {
                                            <i class="fa fa-star"></i>
                                        }

                                        for (int i = 0; i < 5 - item.AverageRating; i++)
                                        {
                                            <i class="fa fa-star-o"></i>
                                        }
                                    }
                                </div>


                                <div class="product-btns">
                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                    @*<button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>*@

                                    <button class="quick-view" onclick="location.href='/Home/Product?productId=@item.ProductId'"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                </div>
                            </div>
                            <div class="add-to-cart">
                                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                            </div>
                        </div>

                        <!-- /product -->

                    </div>
              }
          }
            <!-- /store products -->

            <!-- end of load product zaldy-->




        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /Section -->
<!-- DATA TABLE CODE -->

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />

<!-- /END OF DATA TABLE CODE -->

<link rel="stylesheet" href="~/Content/toastr.min.css">


@section Scripts {

    <!-- DATA TABLE CODE -->
    <script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dataTables.bootstrap4.min.js"></script>
    <!-- /END OF DATA TABLE CODE -->

    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>


    <script type="text/javascript">

            function isEmail(email) {
              var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
              return regex.test(email);
            }

            // Display an info toast
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "1000",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }



            // --DATA TABLE CODE--
            var reviewDatatable;

            function LoadReviewsDataTable(_productId) {
                var _baseUrl = '@Url.Content("~/")';

                if (reviewDatatable) {
                    reviewDatatable.destroy();
                    //$("#reviewTable").dataTable().fnDestroy();
                }


                reviewDatatable = $("#reviewTable").DataTable({
                    destroy: true,
                "bDestroy": true,
                "processing": true, // for show progress bar
                "serverSide": true, // for process server side
                "filter": false, // this is for disable filter (search box)
                "orderMulti": false,
                "pageLength": 3,
                "lengthChange": false,
                "bInfo": false,
                "ajax": {
                    "url": _baseUrl + 'api/Review/LoadData?productId=' + _productId,
                    "type": "POST",
                    "datatype": "json"

                },



                "columns": [
                    { "data": "ReviewId", "visible": false },
                    { "data": "Name" },
                    { "data": "Email", "visible": false },
                    { "data": "Description", "visible": false },
                    { "data": "Rating", "visible": false },
                    { "data": "Created", "visible": false },
                    { "data": "ProductId", "visible": false }
                ],
                "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                    /* Used to overwrite user privileges */

                    var reviewStar = '';
                    var reviewStarEmpty = '';

                    for (var i = 0; i < parseInt(aData.Rating); i++) {
                        reviewStar = reviewStar + '<i style="margin-right: 4px;" class="fa fa-star"></i>';
                    }
                    for (var i = 0; i < (5 - parseInt(aData.Rating)); i++) {
                        reviewStarEmpty = reviewStarEmpty + '<i style="margin-right: 4px;" class="fa fa-star-o empty"></i>';
                    }

                    var capitalizeName = aData.Name.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase());

                    var reviewTemplate = '<div id="reviews"><ul style="list-style: none;" class="reviews">' +
                        '<li ><div class="review-heading"><h5 class="name">' + capitalizeName +
                        '</h5><p class="date" style="letter-spacing: 0.4px;">' + aData.Created.toUpperCase() + '</p>' +
                        '<div class="review-rating">' +
                        reviewStar + reviewStarEmpty +
                        '</div>' +
                        '</div >' +
                        '<div class="review-body">' +
                        '<p class="addReadMore showlesscontent">' + aData.Description + '</p>' +
                        ' </div> </li>' +
                        '</ul></div>';


                    $('td:eq(0)', nRow).html(reviewTemplate);

                    return nRow;
                },
                "drawCallback": function (settings) {
                    // THIS CODE WILL BE CALLED AFTER LOADING DATA AND RENDERING TABLE HMTL COMPLETE

                    $("#reviewTable_wrapper > div:nth-child(3) > div.col-sm-12.col-md-5").remove();
                    var previousHtml = $("#reviewTable_previous").html().replace('Previous', '<i class="fa fa-angle-left"></i>');
                    var nextHtml = $("#reviewTable_next").html().replace('Next', '<i class="fa fa-angle-right"></i>');
                    $("#reviewTable_previous").html(previousHtml);
                    $("#reviewTable_next").html(nextHtml);


                    $("#reviewTable_wrapper > div:nth-child(3) > div").removeClass("col-sm-12").removeClass("col-md-7").addClass("col-md-12");
                    $("#reviewTable_wrapper > div:nth-child(3) > div > div").addClass("col-center-block");


                    // ZALDY SHOW MORE SHOW LESS CODE
                    AddReadMore();
                    
                },
                oLanguage: { sProcessing: '<img src="/images/ajax-loader2.gif" alt="Computer man" style="width:40px;height:40px;opacity:0.7">' }
            });
        }
        //-- /END OF DATA TABLE CODE --



        // GET RATINGS INFO
        function LoadReviewRatingInfo(_productId) {

                var _baseUrl = '@Url.Content("~/")';

                $.ajax({
                    url: _baseUrl + 'api/Review/GetReviewRatingInfo?productId=' + _productId,
                    type: "get", //send it through get method
                    success: function (response) {



                        var averageRatingStarTemplate = '';
                        var _averageRating = '';
                        if (response.averageRating == 'NaN') {
                            _averageRating = '0';
                        }
                        else {
                            _averageRating = response.averageRating;
                        }


                        for (var i = 0; i < parseInt(_averageRating); i++) {
                            averageRatingStarTemplate = averageRatingStarTemplate + '<i class="fa fa-star" style="margin-right: 5px;"></i>';
                        }

                        for (var i = 0; i < (5 - parseInt(_averageRating)); i++) {
                            averageRatingStarTemplate = averageRatingStarTemplate + '<i class="fa fa-star-o" style="margin-right: 5px;"></i>';
                        }


                        $("#average-rating-star").html(averageRatingStarTemplate);
                        $("#average-rating").text(_averageRating);
                        //rating count percent

                        $("#r5-progress").css("width", (parseFloat(response.data[4].percent) * 100).toString() + '%');
                        $("#r5-sum").text(response.data[4].count.toString());

                        $("#r4-progress").css("width", (parseFloat(response.data[3].percent) * 100).toString() + '%');
                        $("#r4-sum").text(response.data[3].count.toString());

                        $("#r3-progress").css("width", (parseFloat(response.data[2].percent) * 100).toString() + '%');
                        $("#r3-sum").text(response.data[2].count.toString());


                        $("#r2-progress").css("width", (parseFloat(response.data[1].percent) * 100).toString() + '%');
                        $("#r2-sum").text(response.data[1].count.toString());

                        $("#r1-progress").css("width", (parseFloat(response.data[0].percent) * 100).toString() + '%');
                        $("#r1-sum").text(response.data[0].count.toString());


                        //parseFloat('0.25')
                        $("#reviews-tab").text("Reviews (" + response.totalReviews.toString() + ")");


                        $(".review-link").text(response.totalReviews.toString() + ' Review(s) | Add your review')

                        var productAverageRatingStarTemplate = '';
                        for (var i = 0; i < parseInt(_averageRating); i++) {
                            productAverageRatingStarTemplate = productAverageRatingStarTemplate + '<i class="fa fa-star" style="margin-right: 4px;"></i>';
                        }

                        for (var i = 0; i < (5 - parseInt(_averageRating)); i++) {
                            productAverageRatingStarTemplate = productAverageRatingStarTemplate + '<i class="fa fa-star-o" style="margin-right: 4px;"></i>';
                        }
                        $("#product-average-rating").html(productAverageRatingStarTemplate);

                    },
                    error: function (xhr) {
                        var err = eval("(" + xhr.responseText + ")");
                        toastr.error('The <strong>Review</strong> retrieving failed due to: ' + err.Message, 'Record Load Failed.');
                    }
                });

        }
        // -- END OF RATINGS INFO



        // -- CODE FOR TEXT SHOW MORE SHOW LESS --

        function AddReadMore() {
            //This limit you can set after how much characters you want to show Read More.
            var carLmt = 260;
            // Text to show when text is collapsed
            var readMoreTxt = " ... Read More";
            // Text to show when text is expanded
            var readLessTxt = " Read Less";


            //Traverse all selectors with this class and manupulate HTML part to show Read More
            $(".addReadMore").each(function () {
                if ($(this).find(".firstSec").length)
                    return;

                var allstr = $(this).text();
                if (allstr.length > carLmt) {
                    var firstSet = allstr.substring(0, carLmt);
                    var secdHalf = allstr.substring(carLmt, allstr.length);
                    var strtoadd = firstSet + "<span class='SecSec'>" + secdHalf + "</span><span class='readMore'  title='Click to Show More'>" + readMoreTxt + "</span><span class='readLess' title='Click to Show Less'>" + readLessTxt + "</span>";
                    $(this).html(strtoadd);
                }

            });
            //Read More and Read Less Click Event binding
            //$(document).on("click", ".readMore,.readLess", function () {
            //    $(this).closest(".addReadMore").toggleClass("showlesscontent showmorecontent");
            //});

            $(".readMore").click(function () {
                $(this).closest(".addReadMore").toggleClass("showlesscontent showmorecontent");
            });

            $(".readLess").click(function () {
                $(this).closest(".addReadMore").toggleClass("showlesscontent showmorecontent");
            });

        }


        // --- END HERE CODE FOR TEXT SHOW MORE SHOW LESS --




        $(document).ready(function () {

            var baseUrl = '@Url.Content("~/")';
            var liProductId = $("#li-product-id").text().replace("Id: ","").trim();


            LoadReviewsDataTable(liProductId);
            LoadReviewRatingInfo(liProductId);


            // -- ADD REVIEW AND RATINGS ---

            $("#review-form > form").submit(function (e) {
                e.preventDefault();
            });

            $("#review-form-btn").click(function (e) {

                $("#rating-validation").hide();
                $("#name-validation").hide();
                $("#review-validation").hide();
                $("#email-validation").hide();
                $("#valid-email-validation").hide();


                var rating = 0;

                $(".review-form-radio").each(function (i) {
                    if ($(this).is(":checked")) { // check if the radio is checked
                        rating = $(this).val(); // retrieve the value
                    }

                });

                if (rating == 0) {
                    $("#rating-validation").show();
                    e.preventDefault();
                    return;
                }


                if ($("#review-form-name").val().trim() == '') {
                    $("#name-validation").show();
                    e.preventDefault();
                    return;
                }

                if ($("#review-form-email").val().trim() == '') {
                    $("#email-validation").show();
                    e.preventDefault();
                    return;
                }
                else {
                    if (!isEmail($("#review-form-email").val())) {
                        $("#valid-email-validation").show();
                        e.preventDefault();
                        return;
                    }
                }


                if ($("#review-form-review").val().trim() == '') {
                    $("#review-validation").show();
                    e.preventDefault();
                    return;
                }


                $.post(baseUrl + 'api/Review/AddReview',
                    {
                        ReviewId: 0,
                        Name: $("#review-form-name").val(),
                        Email: $("#review-form-email").val(),
                        Description: $("#review-form-review").val(),
                        Rating: rating,
                        Created: '',
                        ProductId: liProductId
                    })
                    .done(function () {
                        LoadReviewsDataTable(liProductId);
                        LoadReviewRatingInfo(liProductId);
                        $("#review-form > form").trigger('reset');

   
                        toastr.success('The <strong>Review</strong> record has been successfully added.', 'Record Added.');
                    })
                    .fail(function (xhr) {
                        var err = eval("(" + xhr.responseText + ")");
                        toastr.error('The <strong>Review</strong> saving failed due to: ' + err.Message, 'Record Add Failed.');
                    });

                e.preventDefault();

            });
            // -- END OF ADD REVIEW AND RATINGS ---


            // ACTIVATE REVIEW TAB
           
            $(".review-link").click(function () {
                $('.tab-nav a[href="#tab3"]').tab('show');
                //$(".tab-nav").get(0).scrollIntoView();

                document.getElementById("product-tab").scrollIntoView({ behavior: "smooth" });
              
                setTimeout(function () { $('#review-form-name').focus() }, 500);
            });

            // END OF ACTIVATE REVIEW TAB



            @{

               <text>
                var tempDescription = '@Html.Raw(Model.Description)';
                var tempDetails = '@Html.Raw(Model.Details)';
               </text>
            }

            $('#pDescription1').html(tempDescription);
            $('#pDescription2').html(tempDescription);


            $('#pDescription2 > :header').removeAttr("style");

            $('#pDetails').html(tempDetails);
            $('#pDetails > :header').removeAttr("style");
        });
    </script>
}


