@model IEnumerable<AspMVCECommerce.Models.Product>

@{
    ViewBag.Title = "SendEmail";
    Layout = null;
}

<html lang="en">
<head>
    <title>Bootstrap Example</title>

</head>
<body>





    <table cellspacing="0" cellpadding="0" border="0" width="600" class="m_-4140746664795773952container" align="center">
        <tbody>
            <tr>
                <td>

                    <table style="background-color:#ffffff;border:0px solid transparent;font-size:16px;font-family:Arial,helvetica,sans-serif;line-height:100%;color:#808080" class="m_-4140746664795773952tb_properties" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" width="100%">

                        <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                        <tbody>
                                            <tr>

                                                <td style="border:0px;padding:0px">

                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" class="m_-4140746664795773952header" valign="top">
                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:0px 0px 10px">
                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color:transparent;min-width:100%;border-top:0px;border-right:0px;border-bottom:1px solid transparent;border-left:0px">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="padding:0px">
                                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width:100%">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td style="padding:20px 0px 0px">
                                                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color:transparent;min-width:100%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0px">
                                                                                                                                    <table width="100%" style="min-width:375px!important" cellspacing="0" cellpadding="0" align="center">
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td width="100%" align="center">
                                                                                                                                                    <a href="#" width="1" height="1" class="CToWUd"><img src="~/FrontEnd/img/demo logo2.png" alt="Shopee" style="display:block;height:126px;width:100%;text-align:center;padding:0px" width="100%" height="126" class="CToWUd"></a>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                    <img src="" width="1" height="1" class="CToWUd">
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width:100%">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td style="padding:5px 0px 0px">
                                                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color:transparent;min-width:100%">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0px">
                                                                                                                                    <div style="text-align:center;color:#000;font-family:'Roboto',arial,sans-serif">
                                                                                                                                        <div style="width:100%">
                                                                                                                                            <table align="center" border="0" cellpadding="5" cellspacing="0" style="width:600px">
                                                                                                                                                <tbody>
                                                                                                                                                    <tr>
                                                                                                                                                        <td align="center">
                                                                                                                                                            <span style="font-size:12px"><a href="#" style="font-weight:700;text-align:center;font-family:Roboto,arial,sans-serif;color:rgb(0,0,0);text-decoration:none" title="" target="_blank" data-saferedirecturl="#">LAPTOPS</a></span>
                                                                                                                                                        </td>
                                                                                                                                                        <td style="line-height:100%">
                                                                                                                                                            <span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif"><strong style="color:#000;text-align:center">|</strong></span></span>
                                                                                                                                                        </td>
                                                                                                                                                        <td align="center">
                                                                                                                                                            <span style="font-size:12px"><a href="#" style="font-weight:700;text-align:center;font-family:Roboto,arial,sans-serif;color:rgb(0,0,0);text-decoration:none" title="" target="_blank" data-saferedirecturl="#">SMART PHONES</a></span>
                                                                                                                                                        </td>
                                                                                                                                                        <td style="line-height:100%">
                                                                                                                                                            <span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif"><strong style="color:#000;text-align:center">|</strong></span></span>
                                                                                                                                                        </td>
                                                                                                                                                        <td align="center">
                                                                                                                                                            <span style="font-size:12px"><a href="#" style="font-weight:700;text-align:center;font-family:Roboto,arial,sans-serif;color:rgb(0,0,0);text-decoration:none" title="" target="_blank" data-saferedirecturl="#">ACCESORIES</a></span>
                                                                                                                                                        </td>
                                                                                                                                                        <td style="line-height:100%">
                                                                                                                                                            <span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif"><strong style="color:#000;text-align:center">|</strong></span></span>
                                                                                                                                                        </td>
                                                                                                                                                        <td align="center">
                                                                                                                                                            <span style="font-size:12px"><a href="#" style="font-weight:700;text-align:center;font-family:Roboto,arial,sans-serif;color:rgb(0,0,0);text-decoration:none" title="" target="_blank" data-saferedirecturl="#">HEADPHONES</a></span>
                                                                                                                                                        </td>
                                                                                                                                                        <td style="line-height:100%">
                                                                                                                                                            <span style="font-size:12px"><span style="font-family:arial,helvetica,sans-serif"><strong style="color:#000;text-align:center">|</strong></span></span>
                                                                                                                                                        </td>
                                                                                                                                                        <td align="center">
                                                                                                                                                            <span style="font-size:12px"><a href="#" style="font-weight:700;text-align:center;font-family:Roboto,arial,sans-serif;color:rgb(0,0,0);text-decoration:none" title="" target="_blank" data-saferedirecturl="#">TABLETS</a></span>
                                                                                                                                                        </td>
                                                                                                                                                    </tr>
                                                                                                                                                </tbody>
                                                                                                                                            </table>
                                                                                                                                        </div>
                                                                                                                                    </div>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top">
                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border:0px solid transparent;background-color:transparent;min-width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:0px">

                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>

                                                                                                    <center>
                                                                                                        <table width="600px" cellspacing="0" cellpadding="0">
                                                                                                            <tbody>
                                                                                                                <tr>

                                                                                                                    <td align="center" style="display:flex;">
                                                                                                                        <h2 style="color: #d10024; display: block; background-color: #efefef; padding: 0px; margin: 0px; line-height: 90px; text-align: center; height: 90px; width: 100%; border: 0px">TOP PICKS OF THE WEEK</h2><div class="a6S" dir="ltr" style="opacity: 0.01; left: 1004px; top: 1753px;"><div id=":p7" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V"><div class="akn"><div class="aSK J-J5-Ji aYr"></div></div></div></div>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                        <table border="0" width="600" cellspacing="0" cellpadding="0" bgcolor="#efefef">
                                                                                                            <tbody>
                                                                                                                @{
                                                                                                                    int prodCount = 0;
                                                                                                                    int prodIndex = 0;
                                                                                                                }

                                                                                                                @foreach (var item in Model)
                                                                                                                {
                                                                                                                    prodCount += 1;
                                                                                                                    prodIndex += 1;

                                                                                                                    if (prodCount == 1)
                                                                                                                    {
                                                                                                                        @Html.Raw("<tr>");

                                                                                                                    <td bgcolor="#efefef" width="15px">
                                                                                                                        &nbsp;
                                                                                                                    </td>

                                                                                                                    <td width="278">
                                                                                                                        <!-- zaldy 1-->
                                                                                                                        <table border="0" cellspacing="0" cellpadding="0" bgcolor="white">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td colspan="2" width="278px" height="278px" style="padding:12px;">
                                                                                                                                        <a href="#" target="_blank" data-saferedirecturl="#">
                                                                                                                                            @if (item.Images.Count > 0)
                                                                                                                                            {

                                                                                                                                                var itemImages = item.Images;

                                                                                                                                                foreach (var itemImage in itemImages)
                                                                                                                                                {
                                                                                                                                                    if (itemImage.Default)
                                                                                                                                                    {

                                                                                                                                                        <img style="width: 100%; height: 258px; object-fit: scale-down;" src="@Url.Content(itemImage.ImagePath)" alt="@itemImage.Title" height="258px" class="CToWUd">
                                                                                                                                                        break;
                                                                                                                                                    }
                                                                                                                                                }
                                                                                                                                            }

                                                                                                                                        </a>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                <tr>
                                                                                                                                    <td style="padding:8px" colspan="2" width="230">

                                                                                                                                        <div style="float:left;color:#000000;font-weight:bold;font-family:'Roboto',arial,sans-serif!important;overflow:hidden;text-overflow:ellipsis;max-width:278px;height:32px;text-transform:capitalize;">@item.Name</div>

                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                <tr>


                                                                                                                                    <!-- WITH PROMO -->
                                                                                                                                    <td style="padding:8px">

                                                                                                                                        @if (item.PromoSaleOFF > 0)
                                                                                                                                        {
                                                                                                                                            if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                                                                                                                                            {

                                                                                                                                                <span class="m_-4140746664795773952origPrice" style="text-decoration:line-through;color:#bdbdbd;font-family:'Roboto',arial,sans-serif!important">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</span>
                                                                                                                                                <br>
                                                                                                                                                <span class="m_-4140746664795773952promoPrice" style="color:#D10024;font-family:'Roboto',arial,sans-serif!important">₱@Convert.ToDecimal(item.DiscountedPrice).ToString("#,##0.00")</span>


                                                                                                                                            }
                                                                                                                                            else
                                                                                                                                            {
                                                                                                                                                <span class="m_-4140746664795773952promoPrice" style="color:#D10024;font-family:'Roboto',arial,sans-serif!important">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</span>

                                                                                                                                            }
                                                                                                                                        }
                                                                                                                                        else
                                                                                                                                        {
                                                                                                                                            <span class="m_-4140746664795773952promoPrice" style="color:#D10024;font-family:'Roboto',arial,sans-serif!important">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</span>
                                                                                                                                        }


                                                                                                                                        <br>
                                                                                                                                        <span class="m_-4140746664795773952itemSold" style="color:#000000;font-family:'Roboto',arial,sans-serif!important">@(item.Sold == null ? 0 : item.Sold) sold</span>
                                                                                                                                    </td>

                                                                                                                                    @if (item.PromoSaleOFF > 0)
                                                                                                                                    {
                                                                                                                                        if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                                                                                                                                        {

                                                                                                                                            <td style="padding:8px" align="right" valign="bottom" width="45px">

                                                                                                                                                <div style="padding-top: 5px; padding-bottom: 5px; background-color: #D10024; text-align: center">
                                                                                                                                                    <span class="m_-4140746664795773952disVal" style="color:#ffffff;font-family:'Roboto',arial,sans-serif!important">@(double.Parse(@item.PromoSaleOFF.ToString()) * 100)</span>
                                                                                                                                                    <span class="m_-4140746664795773952disVal" style="color: #ffffff; font-family: 'Roboto',arial,sans-serif !important ">%</span>
                                                                                                                                                    <br>
                                                                                                                                                    <span class="m_-4140746664795773952dis" style="color:#ffffff;font-family:'Roboto',arial,sans-serif!important">OFF</span>
                                                                                                                                                </div>

                                                                                                                                            </td>

                                                                                                                                        }

                                                                                                                                    }
                                                                                                                                    else
                                                                                                                                    {
                                                                                                                                        <!-- NO PROMO -->
                                                                                                                                        <td style="padding:8px">
                                                                                                                                        </td>
                                                                                                                                    }


                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                }


                                                                                                                if (prodCount == 2)
                                                                                                                {

                                                                                                                    <td bgcolor="#efefef" width="14">
                                                                                                                        &nbsp;
                                                                                                                    </td>

                                                                                                                    <td width="278">
                                                                                                                        <!-- zaldy 1-->
                                                                                                                        <table border="0" cellspacing="0" cellpadding="0" bgcolor="white">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td colspan="2" width="278px" height="278px" style="padding:12px;">
                                                                                                                                        <a href="#" target="_blank" data-saferedirecturl="#">
                                                                                                                                            @if (item.Images.Count > 0)
                                                                                                                                            {

                                                                                                                                                var itemImages = item.Images;

                                                                                                                                                foreach (var itemImage in itemImages)
                                                                                                                                                {
                                                                                                                                                    if (itemImage.Default)
                                                                                                                                                    {

                                                                                                                                                        <img style="width: 100%; height: 258px; object-fit: scale-down;" src="@Url.Content(itemImage.ImagePath)" alt="@itemImage.Title" height="258px">
                                                                                                                                                        break;
                                                                                                                                                    }
                                                                                                                                                }
                                                                                                                                            }

                                                                                                                                        </a>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                <tr>
                                                                                                                                    <td style="padding:8px" colspan="2" width="230">

                                                                                                                                        <div style="float:left;color:#000000;font-weight:bold;font-family:'Roboto',arial,sans-serif!important;overflow:hidden;text-overflow:ellipsis;max-width:278px;height:32px;text-transform:capitalize;">@item.Name</div>

                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                                <tr>


                                                                                                                                    <!-- WITH PROMO -->
                                                                                                                                    <td style="padding:8px">

                                                                                                                                        @if (item.PromoSaleOFF > 0)
                                                                                                                                        {
                                                                                                                                            if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                                                                                                                                            {

                                                                                                                                                <span class="m_-4140746664795773952origPrice" style="text-decoration:line-through;color:#bdbdbd;font-family:'Roboto',arial,sans-serif!important">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</span>
                                                                                                                                                <br>
                                                                                                                                                <span class="m_-4140746664795773952promoPrice" style="color:#D10024;font-family:'Roboto',arial,sans-serif!important">₱@Convert.ToDecimal(item.DiscountedPrice).ToString("#,##0.00")</span>


                                                                                                                                            }
                                                                                                                                            else
                                                                                                                                            {
                                                                                                                                                <span class="m_-4140746664795773952promoPrice" style="color:#D10024;font-family:'Roboto',arial,sans-serif!important">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</span>

                                                                                                                                            }
                                                                                                                                        }
                                                                                                                                        else
                                                                                                                                        {
                                                                                                                                            <span class="m_-4140746664795773952promoPrice" style="color:#D10024;font-family:'Roboto',arial,sans-serif!important">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</span>
                                                                                                                                        }


                                                                                                                                        <br>
                                                                                                                                        <span class="m_-4140746664795773952itemSold" style="color:#000000;font-family:'Roboto',arial,sans-serif!important">@(item.Sold == null ? 0 : item.Sold) sold</span>
                                                                                                                                    </td>

                                                                                                                                    @if (item.PromoSaleOFF > 0)
                                                                                                                                    {
                                                                                                                                        if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                                                                                                                                        {

                                                                                                                                            <td style="padding:8px" align="right" valign="bottom" width="45px">

                                                                                                                                                <div style="padding-top: 5px; padding-bottom: 5px; background-color: #D10024; text-align: center">
                                                                                                                                                    <span class="m_-4140746664795773952disVal" style="color:#ffffff;font-family:'Roboto',arial,sans-serif!important">@(double.Parse(@item.PromoSaleOFF.ToString()) * 100)</span>
                                                                                                                                                    <span class="m_-4140746664795773952disVal" style="color: #ffffff; font-family: 'Roboto',arial,sans-serif !important ">%</span>
                                                                                                                                                    <br>
                                                                                                                                                    <span class="m_-4140746664795773952dis" style="color:#ffffff;font-family:'Roboto',arial,sans-serif!important">OFF</span>
                                                                                                                                                </div>

                                                                                                                                            </td>

                                                                                                                                        }

                                                                                                                                    }
                                                                                                                                    else
                                                                                                                                    {
                                                                                                                                        <!-- NO PROMO -->
                                                                                                                                        <td style="padding:8px">
                                                                                                                                        </td>
                                                                                                                                    }


                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                    <td bgcolor="#efefef" width="15">
                                                                                                                        &nbsp;
                                                                                                                    </td>


                                                                                                                    @Html.Raw("</tr><tr bgcolor='#efefef'><td colspan='3' bgcolor='#efefef' height='15px'>&nbsp;</td></tr>");

                                                                                                                    prodCount = 0;
                                                                                                                }



                                                                                                                if ((Model.Count() % 2) > 0 && prodIndex == Model.Count())
                                                                                                                {
                                                                                                                    @Html.Raw("</tr><tr bgcolor='#efefef'><td colspan='3' bgcolor='#efefef' height='15px'>&nbsp;</td></tr>");
                                                                                                                }

                                                                                                            }

</tbody>
                                                                                                        </table>
                                                                                                        <table width="600px" cellspacing="0" cellpadding="0" bgcolor="#efefef">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td align="center" style="line-height:100px;height:100px;">
                                                                                                                        <a href="#" target="_blank" data-saferedirecturl="#"><img src="~/FrontEnd/img/shop now button.png" width="194" style="display:block;text-align:center;height:auto;width:194px;border:0px" class="CToWUd"></a>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>

                                                                                                        <table>
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td>
                                                                                                                        <table cellpadding="0" cellspacing="0" border="0" align="center" width="594">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td cellpadding="0" cellspacing="0" border="0" height="1" style="line-height:1px;min-width:198px">
                                                                                                                                        <img src="https://ci6.googleusercontent.com/proxy/UdD10b8OwAMsIskWs35kVksPpJn8Z8NNDQtpw7bGuUfndy5BBB668zFGfSCq9A8cZzBIS2GRgAc3V6hkoUm_YW9wUZSQOPyE0OxEg-vIlRo1PlfvsCydU1P7HB74FfFyhiuIe02kACyfdmCHRsq5RkvllmTQJQDvftAw-Q=s0-d-e1-ft#https://image.email.shopee.co.id/lib/fe3a15707564067d761279/m/11/82629a96-3443-4ffb-978e-e261f6d86cb8.png" width="200" height="1" style="display:block;max-height:1px;min-height:1px;min-width:120px;width:120px" class="CToWUd">
                                                                                                                                    </td>
                                                                                                                                    <td cellpadding="0" cellspacing="0" border="0" height="1" style="line-height:1px;min-width:198px">
                                                                                                                                        <img src="https://ci6.googleusercontent.com/proxy/UdD10b8OwAMsIskWs35kVksPpJn8Z8NNDQtpw7bGuUfndy5BBB668zFGfSCq9A8cZzBIS2GRgAc3V6hkoUm_YW9wUZSQOPyE0OxEg-vIlRo1PlfvsCydU1P7HB74FfFyhiuIe02kACyfdmCHRsq5RkvllmTQJQDvftAw-Q=s0-d-e1-ft#https://image.email.shopee.co.id/lib/fe3a15707564067d761279/m/11/82629a96-3443-4ffb-978e-e261f6d86cb8.png" width="200" height="1" style="display:block;max-height:1px;min-height:1px;min-width:198px;width:198px" class="CToWUd">
                                                                                                                                    </td>
                                                                                                                                    <td cellpadding="0" cellspacing="0" border="0" height="1" style="line-height:1px;min-width:198px">
                                                                                                                                        <img src="https://ci6.googleusercontent.com/proxy/UdD10b8OwAMsIskWs35kVksPpJn8Z8NNDQtpw7bGuUfndy5BBB668zFGfSCq9A8cZzBIS2GRgAc3V6hkoUm_YW9wUZSQOPyE0OxEg-vIlRo1PlfvsCydU1P7HB74FfFyhiuIe02kACyfdmCHRsq5RkvllmTQJQDvftAw-Q=s0-d-e1-ft#https://image.email.shopee.co.id/lib/fe3a15707564067d761279/m/11/82629a96-3443-4ffb-978e-e261f6d86cb8.png" width="200" height="1" style="display:block;max-height:1px;min-height:1px;min-width:198px;width:198px" class="CToWUd">
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>
                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </center>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top">
                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:10px 0px 0px">
                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="border:0px;background-color:transparent;min-width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td style="padding:0px">
                                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color:transparent;min-width:100%">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td style="padding:0px">
                                                                                                                    <table width="100%" cellspacing="0" cellpadding="0" role="presentation">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td align="center" style="padding:0px;margin:0p;">
                                                                                                                                    <a href="https://click.email.shopee.ph/?qs=d8beae93ee237330e19ea6ea3252475bb13cf8fa968d16d070030014f6ffb4c5b94f1b08e74d1ccb56a2146b7dd87e3f24a79b2bca2b7f39f3d0182457c7e17e" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.shopee.ph/?qs%3Dd8beae93ee237330e19ea6ea3252475bb13cf8fa968d16d070030014f6ffb4c5b94f1b08e74d1ccb56a2146b7dd87e3f24a79b2bca2b7f39f3d0182457c7e17e&amp;source=gmail&amp;ust=1652007569184000&amp;usg=AOvVaw2BGpEfWyIlNbZrTSK3pO8d"><img src="~/FrontEnd/img/help center button.png" alt="Helpcenter" height="60" width="603" style="display:block;padding:0px;text-align:center;height:60px;width:603px;border:0px" class="CToWUd"></a>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width:100%">
                                                                                                        <tbody>
                                                                                                            <tr>
                                                                                                                <td>
                                                                                                                    <table width="100%" align="center" style="width:100%!important" cellspacing="0" cellpadding="0">
                                                                                                                        <tbody>

                                                                                                                            <tr>
                                                                                                                                <td width="100%" align="center" style="border-top:1px solid #f3f3f3;border-bottom:1px solid #f3f3f3;padding:25px 0">
                                                                                                                                    <table width="30%" align="center" style="margin:0 auto" cellspacing="0" cellpadding="10">
                                                                                                                                        <tbody>
                                                                                                                                            <tr>
                                                                                                                                                <td style="width:33.3%;padding-left:5px;padding-right:5px;text-align:center">

                                                                                                                                                    <a href="https://www.facebook.com/" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.shopee.ph/?qs%3Dd8beae93ee237330730cf0d60f3df1976f38631fc2ee01d44ab498e9e8b87ba07a1a09bc2984b931108d1ac6e1c006e9c7ea28d203ced29112f0b94f83647cb2&amp;source=gmail&amp;ust=1652007569184000&amp;usg=AOvVaw1e9JTk6Gh31m6XrPkjMZjc"><img src="https://ci6.googleusercontent.com/proxy/nwYp_9RmF7myx91ko4jV8qr2OwvKWxSDaI09WRA7Pp-SlHyZtUY8zKEFRukd20-HuDQ2eRtEvIIhwQe7W2g1VcW0oT_y5-hKX4v28TV8ddCwYSP05dY8TA2vtFMkF45kx25DfB4rKBesGylyXqb6LhyYdgCV8ncA=s0-d-e1-ft#https://image.email.shopee.sg/lib/fe3b15707564067d761278/m/1/cd8ee4c2-e30f-41a3-ad6f-b720f33342f0.png" alt="Facebook" height="50" width="50" style="display:block;padding:0px;text-align:center;height:50px;width:50px;border:0px none transparent" class="CToWUd"></a>
                                                                                                                                                </td>
                                                                                                                                                <td style="width:33.3%;padding-left:5px;padding-right:5px;text-align:center">

                                                                                                                                                    <a href="https://www.instagram.com/" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.shopee.ph/?qs%3Dd8beae93ee23733000556cafeb7ccacdaaf521ab65a3f8a34b485cd95de30596db9cc1668831bfae86563fbb6997d4a404523d636b6496bc06843deb73304ff2&amp;source=gmail&amp;ust=1652007569184000&amp;usg=AOvVaw3cQusg2_CdnaS5h4GqeJX9"><img src="https://ci3.googleusercontent.com/proxy/3lxVMGF5Zll_k3AKxaFnhn55O30XYgq3uDsmEVveE3lxEqVVQt63ELmsoOsAffw_wUfzXDejnyLb_CuXvTLduIciMm3l2E-9syXAK-Awhq4GmDv97Z1LChI3Co6YZu6FQrdRYtOTrVQ1CQ4khvOZTMtXjGCnXvKq=s0-d-e1-ft#https://image.email.shopee.sg/lib/fe3b15707564067d761278/m/1/4ab223ec-7fc6-4417-b514-62b365329e6a.png" alt="Instagram" height="50" width="50" style="display:block;padding:0px;text-align:center;height:50px;width:50px;border:0px none transparent" class="CToWUd"></a>
                                                                                                                                                </td>
                                                                                                                                                <td style="width:33.3%;padding-left:5px;padding-right:5px;text-align:center">

                                                                                                                                                    <a href="https://twitter.com/" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.shopee.ph/?qs%3Dd8beae93ee237330b4f208d44ea66748199c76d81cd5fd6984fd570fccc1c6db698ac176775576c4acfa26a58980adc0daf079463653b91a3fbe2d7dac10f5b6&amp;source=gmail&amp;ust=1652007569184000&amp;usg=AOvVaw1a2AiAIVqNvntpYkxDfWRq"><img src="https://ci4.googleusercontent.com/proxy/Y9v_DSD-ovdabCPxa29_eef54Z3Q0BxHnFAVb5B24vTLWKGGvRfPZzErwuuIXDFXnwW7a5Pny5qKzCeXRw1ZrvWj22VJkiErPvy_pqyfI-mS6h0E8NxjQjx4965aXXwjFOSSOhu9ro5wxhYT-kgZL5-vU_9jGfLCUwaJhw=s0-d-e1-ft#https://image.S10.exacttarget.com/lib/fe34157075640574731c72/m/1/801a8ba9-cd54-4786-bbde-dedb60f89cdc.png" alt="Twitter" height="50" width="50" style="display:block;padding:0px;text-align:center;height:50px;width:50px;border:0px none transparent" class="CToWUd"></a>
                                                                                                                                                </td>
                                                                                                                                            </tr>
                                                                                                                                        </tbody>
                                                                                                                                    </table>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                    <table style="font-size:10px;width:100%;display:none" width="100%" cellspacing="0" cellpadding="0">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td align="left">
                                                                                                                                    Subscription Center: <a href="https://www.facebook.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.facebook.com/"><wbr>subscription_center.aspx?qs=<wbr>d9490f04e554b8613f1c65699125a5<wbr>22c759326db715a238a9eaac8d208b<wbr>24f928a0336226e997ff6e12da60f2<wbr>d2d387</a>
                                                                                                                                    Profile Center: <a href="https://www.instagram.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://www.instagram.com/"><wbr>profile_center.aspx?qs=<wbr>d9490f04e554b861049a956a7600b5<wbr>7fd382adefbcb9f4aed597e91da242<wbr>cf5b2eb873fbd2b99ac6b6a2dafa5a<wbr>fceb41</a>
                                                                                                                                    One-click Unsubscribe: <a href="https://twitter.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://twitter.com/"><wbr>unsub_center.aspx?qs=<wbr>d9490f04e554b8613f1c65699125a5<wbr>22c759326db715a238a9eaac8d208b<wbr>24f95e9668d5464f40ce0d5dbfcaf6<wbr>77f6bb09438b02330b1a91</a>
                                                                                                                                    Sender address: Shopee Singapore Private Limited 2 Science Park Drive, #03-01, Tower A Ascent Singapore SG 118222 SG
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </td>
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="left" valign="top">
                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color:transparent;min-width:100%">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td style="padding:0px">
                                                                                    <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div style="text-align:center;color:#858585;font-family:'Roboto',arial,sans-serif;font-size:12px;line-height:2">
                                                                                                        <span style="text-decoration:underline"><a href="#" style="color:#858585;text-decoration:underline" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.shopee.ph/?qs%3Dd8beae93ee237330437db3aeef1482876d3983086e2f9df1174af255c56e18be745f6020784c32aee59db5b567b63efa133d961a3c9e0d3160681d3d0bae2e9d&amp;source=gmail&amp;ust=1652007569184000&amp;usg=AOvVaw0-QSshjf2fulWajP7_ba6W">Privacy Notice</a></span> &nbsp;&nbsp; |&nbsp;&nbsp; <span style="text-decoration:underline"><a href="https://click.email.shopee.ph/?qs=d8beae93ee23733066c8717fce446e6279f3a3a73488e60ef7087908d508f44d6db6afec05a9a176ecd2da648e374683e6a7ae20aa0d112bb9043bbfcde7d42a" style="color:#858585;text-decoration:underline" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.shopee.ph/?qs%3Dd8beae93ee23733066c8717fce446e6279f3a3a73488e60ef7087908d508f44d6db6afec05a9a176ecd2da648e374683e6a7ae20aa0d112bb9043bbfcde7d42a&amp;source=gmail&amp;ust=1652007569184000&amp;usg=AOvVaw3pDYeZMM3ETo9lhq5r2xgJ">Terms and Conditions</a></span> &nbsp;&nbsp; |&nbsp;&nbsp; <span style="text-decoration:underline">
                                                                                                            <a href="https://view.email.shopee.ph/?qs=2532611a302230852a5a12a68f3fa28ebc880b277d30593da19f96974029eb4ace463a1f94ff581b1330296a0786bec5539e064ce266c6707627fa4107fdc0607f97b7c2e3377c4812681cb655a38455" style="color:#808080;text-decoration:underline;white-space:nowrap" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://view.email.shopee.ph/?qs%3D2532611a302230852a5a12a68f3fa28ebc880b277d30593da19f96974029eb4ace463a1f94ff581b1330296a0786bec5539e064ce266c6707627fa4107fdc0607f97b7c2e3377c4812681cb655a38455&amp;source=gmail&amp;ust=1652007569184000&amp;usg=AOvVaw2DjK3iLlsYYjYGazhYtoU7">View on Browser</a>
                                                                                                        </span> &nbsp;&nbsp; &nbsp;|&nbsp;&nbsp; <span style="text-decoration:underline">
                                                                                                            <a href="https://click.email.shopee.ph/unsub_center.aspx?qs=d9490f04e554b8613f1c65699125a522c759326db715a238a9eaac8d208b24f95e9668d5464f40ce0d5dbfcaf677f6bb8ad16213dcabdb331905af018b49868306cdd72cafe2ba11" style="color:#858585;text-decoration:underline" title="" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://click.email.shopee.ph/unsub_center.aspx?qs%3Dd9490f04e554b8613f1c65699125a522c759326db715a238a9eaac8d208b24f95e9668d5464f40ce0d5dbfcaf677f6bb8ad16213dcabdb331905af018b49868306cdd72cafe2ba11&amp;source=gmail&amp;ust=1652007569184000&amp;usg=AOvVaw2vI_h16EchYDZrrpxFYvvf">Unsubscribe</a>
                                                                                                        </span>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="min-width:100%">
                                                                                        <tbody>
                                                                                            <tr>
                                                                                                <td>
                                                                                                    <div style="text-align:center;color:#858585;font-size:12px;font-family:'Roboto',arial,sans-serif;text-decoration:none">
                                                                                                        <p style="text-decoration:none">
                                                                                                            <span style="text-decoration:none">
                                                                                                                This is a post-only mailing.&nbsp;<br>
                                                                                                                Add <a href="mailto:zaldys.ecommerce.demo@gmail.com" style="color:#858585;text-decoration:none" target="_blank">zaldys.ecommerce.demo@gmail.com</a> to your address book to ensure our e-mails enter your inbox.
                                                                                                            </span>
                                                                                                        </p><p style="text-decoration:none">
                                                                                                            Zaldy's Ecommerce Philippines Inc., Malolos City, Bulacan
                                                                                                        </p>
                                                                                                    </div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </tbody>
                                                                                    </table>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>




</body>
</html>

