@model AspMVCECommerce.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SellerLayout.cshtml";
}


<!-- BREADCRUMB -->
<div id="breadcrumb" class="section breadcrumbx" style="display: flex;">
    <div class="container">

        <div class="row pull-left">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li> <a href="#" style="font-size: 16px; font-weight: bold; white-space: nowrap;">Manage Product</a></li>

                </ul>

            </div>
        </div>

    </div>

    <!-- container -->
    <div class="container" style="margin-left: 200px;">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb-tree">
                    <li><a href="~/Home/Index">Home</a></li>
                    <li><a href="~/Products/Index">Products</a></li>
                    <li>Details</li>
                    <li class="active">Product Id: @Html.DisplayFor(model => model.ProductId)</li>

                </ul>


                <ul class="breadcrumb-tree pull-right">
                    <li> @Html.ActionLink("Edit", "Edit", new { id = Model.ProductId }) | @Html.ActionLink("Back to List", "Index")</li>



                </ul>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">


                    @foreach (var img in Model.Images.OrderByDescending(i => i.Default))
                    {
                        <div class="product-preview" style="display: block; width: 458px; height: 458px;">
                            <img class="main-image-x" src="@Url.Content(img.ImagePath)" alt="" >
                        </div>
                    }




                </div>
            </div>
            <!-- /Product main img -->
            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">

                    @foreach (var img in Model.Images.OrderByDescending(i => i.Default))
                    {
                        <div class="product-preview"  style="display: block; width: 143px; height: 143px; padding: 5px;">
                            <img  class="thumb-image-x" src="@Url.Content(img.ImagePath)" alt="">
                        </div>
                    }


                </div>
            </div>
            <!-- /Product thumb imgs -->
            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">       @Html.DisplayFor(model => model.Name)</h2>

                    <div>
                        @if (Model.PromoSaleOFF > 0)
                        {
                            if (DateTime.Now >= Model.PromoSaleStartDateTime && DateTime.Now <= Model.PromoSaleEndDateTime)
                            {
                                <h3 class="product-price">@Html.DisplayFor(model => model.DiscountedPrice) <del class="product-old-price">@Html.DisplayFor(model => model.OriginalPrice)</del></h3>
                            }
                            else
                            {
                                <h3 class="product-price">@Html.DisplayFor(model => model.OriginalPrice)</h3>
                            }
                        }
                        else
                        {
                            <h3 class="product-price">@Html.DisplayFor(model => model.OriginalPrice)</h3>
                        }

                        <span class="product-available"> @Html.DisplayFor(model => model.Stock) In Stock</span>
                    </div>
                    <p id="pDescription1"></p>

                    @*<p>@Html.DisplayFor(model => model.Description)</p>*@

                    <ul class="product-links">
                        <li>Category:</li>
                        <li><a href="#"> @Html.DisplayFor(model => model.Category.Name)</a></li>
                    </ul>

                    <ul class="product-links">
                        <li>Brand:</li>
                        <li><a href="#"> @Html.DisplayFor(model => model.Brand.Name)</a></li>
                    </ul>
                </div>
            </div>
            <!-- /Product details -->
            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li><a data-toggle="tab" href="#tab1">Description</a></li>
                        <li  class="active"><a data-toggle="tab" href="#tab2">Details</a></li>

                    </ul>
                    <!-- /product tab nav -->
                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in">
                            <div class="row">
                                <div class="col-md-12">
                                    <p id="pDescription2"></p>
                                    @*<p>  @Html.DisplayFor(model => model.Description)</p>*@
                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->
                        <!-- tab2  -->
                        <div id="tab2" class="tab-pane fade in  active">
                            <div class="row">
                                <div class="col-md-12">
                                    @*<p>     @Html.DisplayFor(model => model.Details)</p>*@
                                    <p  id="pDetails"> </p>
                                </div>
                            </div>
                        </div>
                        <!-- /tab2  -->

                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->




@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            @{

               <text>
                var tempDescription = '@Html.Raw(Model.Description)';
                var tempDetails = '@Html.Raw(Model.Details)';
               </text>
            }

            $('#pDescription1').html(tempDescription);
            $('#pDescription2').html(tempDescription);


            $('#pDescription2 > :header').removeAttr("style");

            $('#pDetails').html(tempDetails);
            $('#pDetails > :header').removeAttr("style");
        });
    </script>
}
