@model IEnumerable<AspMVCECommerce.Models.Product>

<table class="table table-bordered table-responsive table-striped">
    <tbody>
        @{
            var productIndex = 0;
        }
        <tr>
            <td style="width:200px;"></td>
            @foreach (var item in Model)
            {
                productIndex += 1;

                if (productIndex == 1)
                {
                    <!-- index 1 -->
                    <th>
                        <div class="a-row a-spacing-top-micro">
                            <div style="width: 180px; height: 200px;  margin: auto; ">
                                @if (item.Images.Count > 0)
                                {

                                    var itemImages = item.Images;

                                    foreach (var itemImage in itemImages)
                                    {
                                        if (itemImage.Default)
                                        {
                                            <img style="width: 100%; height: 180px; object-fit: scale-down;" src="@Url.Content(itemImage.ImagePath)" alt="@itemImage.Title">

                                            break;
                                        }
                                    }
                                }

                            </div>
                        </div> <div class="a-row a-spacing-top-small"><a href="/Home/Product?productId=@(item.ProductId)&selectedNavCategory=@ViewBag.SelectedNavCategory" class="product-name" title="@item.Name">@item.Name</a></div>
                    </th>
                }


                <!-- index 2 -->
                if (productIndex == 2)
                {

                    <th>
                        <div class="a-row a-spacing-top-micro">
                            <div style="width: 180px; height: 200px;  margin: auto; ">
                                @if (item.Images.Count > 0)
                                {

                                    var itemImages = item.Images;

                                    foreach (var itemImage in itemImages)
                                    {
                                        if (itemImage.Default)
                                        {
                                            <img style="width: 100%; height: 180px; object-fit: scale-down;" src="@Url.Content(itemImage.ImagePath)" alt="@itemImage.Title">

                                            break;
                                        }
                                    }
                                }

                            </div>
                        </div> <div class="a-row a-spacing-top-small"><a href="/Home/Product?productId=@(item.ProductId)&selectedNavCategory=@ViewBag.SelectedNavCategory" class="product-name" title="@item.Name">@item.Name</a></div>
                    </th>
                }

                <!-- index 3 -->
                if (productIndex == 3)
                {

                    <th>
                        <div class="a-row a-spacing-top-micro">
                            <div style="width: 180px; height: 200px;padding:5px; margin: auto;">
                                @if (item.Images.Count > 0)
                                {

                                    var itemImages = item.Images;

                                    foreach (var itemImage in itemImages)
                                    {
                                        if (itemImage.Default)
                                        {
                                            <img style="width: 100%; height: 180px; object-fit: scale-down;" src="@Url.Content(itemImage.ImagePath)" alt="@itemImage.Title">

                                            break;
                                        }
                                    }
                                }

                            </div>
                        </div> <div class="a-row a-spacing-top-small"><a href="/Home/Product?productId=@(item.ProductId)&selectedNavCategory=@ViewBag.SelectedNavCategory" class="product-name" title="@item.Name">@item.Name</a></div>
                    </th>
                }
                <!-- index 4 -->


            }
        </tr>


        <tr id="comparison_custormer_rating_row">
            <th> Customer Rating</span> </th>
            @{ productIndex = 0; }
            @foreach (var item in Model)
            {
                productIndex += 1;
                if (productIndex == 1)
                {
                    <td>
                        <div class="product-rating">
                            @if (item.AverageRating != null)
                            {
                                for (int i = 0; i < item.AverageRating; i++)
                                {
                                    <i style=" background: #FFF; color: #ef233c;" class="fa fa-star"></i>
                                }

                                for (int i = 0; i < 5 - item.AverageRating; i++)
                                {
                                    <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                }
                            }
                            else
                            {
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            }
                        </div>
                    </td>
                }

                if (productIndex == 2)
                {
                    <td>
                        <div class="product-rating">
                            @if (item.AverageRating != null)
                            {
                                for (int i = 0; i < item.AverageRating; i++)
                                {
                                    <i style=" background: #FFF; color: #ef233c;" class="fa fa-star"></i>
                                }

                                for (int i = 0; i < 5 - item.AverageRating; i++)
                                {
                                    <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                }
                            }
                            else
                            {
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            }
                        </div>
                    </td>
                }

                if (productIndex == 3)
                {
                    <td>
                        <div class="product-rating">
                            @if (item.AverageRating != null)
                            {
                                for (int i = 0; i < item.AverageRating; i++)
                                {
                                    <i style=" background: #FFF; color: #ef233c;" class="fa fa-star"></i>
                                }

                                for (int i = 0; i < 5 - item.AverageRating; i++)
                                {
                                    <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                }
                            }
                            else
                            {
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            }
                        </div>
                    </td>
                }


            }
        </tr>
        <tr id="comparison_price_row">
            <th> Price</span> </th>
            @{ productIndex = 0; }
            @foreach (var item in Model)
            {
                productIndex += 1;
                if (productIndex == 1)
                {
                    <td>
                        @if (item.PromoSaleOFF > 0)
                        {
                            if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                            {

                                <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.DiscountedPrice).ToString("#,##0.00") <del style="font-size: 12px;font-weight: 400;color: #8D99AE;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</del></h4>
                            }
                            else
                            {
                                <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                            }
                        }
                        else
                        {
                            <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                        }
                    </td>
                }

                if (productIndex == 2)
                {
                    <td>
                        @if (item.PromoSaleOFF > 0)
                        {
                            if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                            {

                                <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.DiscountedPrice).ToString("#,##0.00") <del style="font-size: 12px;font-weight: 400;color: #8D99AE;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</del></h4>

                            }
                            else
                            {
                                <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                            }
                        }
                        else
                        {
                            <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                        }
                    </td>
                }

                if (productIndex == 3)
                {
                    <td>
                        @if (item.PromoSaleOFF > 0)
                        {
                            if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                            {

                                <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.DiscountedPrice).ToString("#,##0.00") <del style="font-size: 12px;font-weight: 400;color: #8D99AE;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</del></h4>
                            }
                            else
                            {
                                <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                            }
                        }
                        else
                        {
                            <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                        }
                    </td>
                }


            }
        </tr>
        <tr id="comparison_sold_by_row">
            <th role="rowheader"> Sold By</span> </th>

            @{ productIndex = 0; }
            @foreach (var item in Model)
            {
                productIndex += 1;

                if (productIndex == 1)
                {
                    <td><a>@item.Brand.Name</a>   </td>
                }


                if (productIndex == 2)
                {
                    <td><a>@item.Brand.Name</a>   </td>
                }

                if (productIndex == 3)
                {
                    <td><a>@item.Brand.Name</a>   </td>
                }


            }
        </tr>

        <tr class="comparison_other_attribute_row">
            <th> <span>Are batteries included?</span> </th>
            <td>     <span>Yes</span>   </td>
            <td>       <span>No</span>   </td>
            <td>       <span>No</span>   </td>

        </tr>
        <tr class="comparison_other_attribute_row">
            <th > <span>Are batteries required?</span> </th>
            <td>     <span>Yes</span>   </td>
            <td>       <span>Yes</span>   </td>
            <td>       <span>No</span>   </td>

        </tr>
        <tr class="comparison_other_attribute_row">
            <th > <span>Color</span> </th>
            <td>     <span>Black</span>   </td>
            <td>       <span>Black</span>   </td>
            <td>       <span>Stealth</span>   </td>

        </tr>
        <tr>
            <th> <span>Connectivity Technology</span> </th>
            <td>     <span>Wireless, Wired</span>   </td>
            <td>       <span>Wireless</span>   </td>
            <td>       <span>Wireless</span>   </td>

        </tr>
        <tr>
            <th> <span>Fit Type</span> </th>
            <td>     <span>Over-Ear</span>   </td>
            <td>       <span>Over-Ear</span>   </td>
            <td>       <span>Over-Ear</span>   </td>

        </tr>
        <tr>
            <th> <span>Special Features</span> </th>
            <td>     <span>Wired＆Wireless, Noise Isolation, Microphone Feature, Foldable, Bluetooth 5.0, 52 hours playing time, Hifi stereo sound, Lightweight, 3 EQ Modes</span>   </td>
            <td>       <span>Deep Bass Audio Output; Bluetooth 5.1 Fast and Stable Connection; Foldable Design, 0.44lb Lightweight; 55 hours long playing time.; Optional Wireless or Wired</span>   </td>
            <td>       <span>Bluetooth 4.1, Built_in Mic/ FM/ SD Card Slot; Dual Mode, Foldable, Noise Cancelling Design</span>   </td>


        </tr>
    </tbody>
</table>