@model IEnumerable<AspMVCECommerce.Models.Product>

<table class="table table-bordered table-responsive table-striped">
    @*<thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Default</td>
                <td style="background-color: #ffe;">Defaultson</td>
                <td>def@somemail.com</td>
            </tr>
            <tr>
                <td>Success</td>
                <td style="background-color: #ffffde;">Doe</td>
                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Danger</td>
                <td style="background-color: #ffe;">Moe</td>
                <td>mary@example.com</td>
            </tr>
            <tr>
                <td>Info</td>
                <td style="background-color: #ffffde;">Dooley</td>
                <td>july@example.com</td>
            </tr>
            <tr>
                <td>Warning</td>
                <td style="background-color: #ffe;">Refs</td>
                <td>bo@example.com</td>
            </tr>
            <tr>
                <td>Active</td>
                <td style="background-color: #ffffde;">Activeson</td>
                <td>act@example.com</td>
            </tr>*@


    <!-- store products -->

    @{
        var productIndex = 0;
    }

    <tr> </tr>
    <tr>
        <td style="width:200px;"></td>
        @foreach (var item in Model)
        {
            productIndex += 1;

            if (productIndex == 1)
            {
                <!-- index 1 -->
    <th style="position:relative;">
        <div class="a-row a-spacing-top-micro">
            <div style="width: 180px; height: 200px;  margin: auto; ">
                @if (item.Images.Count > 0)
                {

                    var itemImages = item.Images;

                    foreach (var itemImage in itemImages)
                    {
                        if (itemImage.Default)
                        {
                            <img style="width: 100%; height: 180px; object-fit: scale-down;" src="@Url.Content(itemImage.ImagePath)" alt="@itemImage.Title">

                            break;
                        }
                    }
                }

            </div>
        </div>
        <div class="a-row a-spacing-top-small" style="margin-bottom: 65px !important;">
            <a href="/Home/Product?productId=@(item.ProductId)&selectedNavCategory=@ViewBag.SelectedNavCategory" class="product-name" title="@item.Name">@item.Name</a>

            <div class="product-details" style="width: 100%; margin-bottom: 15px !important; margin-top: 20px; bottom: 0px; position: absolute; ">
                <div class="add-to-cart" style="margin: auto; width: 100%; display: flex;  font-size: 12px !important; ">
                    @if (Request.IsAuthenticated)
                    {

                        if (User.IsInRole("Customer"))
                        {
                            <button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="GetProductDetails(@(item.ProductId));"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        }
                        else
                        {

                            <button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="location.href='/Account/Login'"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        }


                    }
                    else
                    {
                        <button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="location.href='/Account/Login'"><i class="fa fa-shopping-cart"></i> add to cart</button>

                    }
                    @*<button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="GetProductDetails(@(item.ProductId));"><i class="fa fa-shopping-cart"></i> add to cart</button>*@
                </div>
            </div>
        </div>
    </th>
            }


            <!-- index 2 -->
            if (productIndex == 2)
            {

                <th style="position:relative;">
                    <div class="a-row a-spacing-top-micro">
                        <div style="width: 180px; height: 200px;  margin: auto; ">
                            @if (item.Images.Count > 0)
                            {

                                var itemImages = item.Images;

                                foreach (var itemImage in itemImages)
                                {
                                    if (itemImage.Default)
                                    {
                                        <img style="width: 100%; height: 180px; object-fit: scale-down;" src="@Url.Content(itemImage.ImagePath)" alt="@itemImage.Title">

                                        break;
                                    }
                                }
                            }

                        </div>
                    </div>
                    <div class="a-row a-spacing-top-small" style="margin-bottom: 65px !important;">
                        <a href="/Home/Product?productId=@(item.ProductId)&selectedNavCategory=@ViewBag.SelectedNavCategory" class="product-name" title="@item.Name">@item.Name</a>

                        <div class="product-details" style="width: 100%; margin-bottom: 15px !important; margin-top: 20px; bottom: 0px; position: absolute; ">
                            <div class="add-to-cart" style="margin: auto; width: 100%; display: flex;  font-size: 12px !important; ">

                                @if (Request.IsAuthenticated)
                                {
                                    if (User.IsInRole("Customer"))
                                    {
                                        <button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="GetProductDetails(@(item.ProductId));"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    }
                                    else
                                    {
                                        <button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="location.href='/Account/Login'"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                    }

                                }
                                else
                                {
                                    <button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="location.href='/Account/Login'"><i class="fa fa-shopping-cart"></i> add to cart</button>

                                }

                                @*<button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="GetProductDetails(@(item.ProductId));"><i class="fa fa-shopping-cart"></i> add to cart</button>*@
                            </div>
                        </div>
                    </div>
                </th>
            }

            <!-- index 3 -->
            if (productIndex == 3)
            {

    <th style="position:relative;">
        <div class="a-row a-spacing-top-micro">
            <div style="width: 180px; height: 200px;padding:5px; margin: auto;">
                @if (item.Images.Count > 0)
                {

                    var itemImages = item.Images;

                    foreach (var itemImage in itemImages)
                    {
                        if (itemImage.Default)
                        {
                            <img style="width: 100%; height: 180px; object-fit: scale-down;" src="@Url.Content(itemImage.ImagePath)" alt="@itemImage.Title">

                            break;
                        }
                    }
                }

            </div>
        </div>
        <div class="a-row a-spacing-top-small" style="margin-bottom: 65px !important;">
            <a href="/Home/Product?productId=@(item.ProductId)&selectedNavCategory=@ViewBag.SelectedNavCategory" class="product-name" title="@item.Name">@item.Name</a>

            <div class="product-details" style="width: 100%; margin-bottom: 15px !important; margin-top: 20px; bottom: 0px; position: absolute; ">
                <div class="add-to-cart" style="margin: auto; width: 100%; display: flex;  font-size: 12px !important; ">
                    @if (Request.IsAuthenticated)
                    {
                        if (User.IsInRole("Customer"))
                        {
                            <button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="GetProductDetails(@(item.ProductId));"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        }
                        else
                        {
                            <button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="location.href='/Account/Login'"><i class="fa fa-shopping-cart"></i> add to cart</button>
                        }

                    }
                    else
                    {
                        <button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="location.href='/Account/Login'"><i class="fa fa-shopping-cart"></i> add to cart</button>

                    }

                    @*<button style="margin: auto; height: 35px !important;" class="add-to-cart-btn" onclick="GetProductDetails(@(item.ProductId));"><i class="fa fa-shopping-cart"></i> add to cart</button>*@
                </div>
            </div>
        </div>
    </th>
            }
            <!-- index 4 -->


        }
    </tr>


    <tr id="comparison_custormer_rating_row">
        <th> Customer Rating</span> </th>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;
            if (productIndex == 1)
            {
                <td style="background-color: #ffe;">
                    <div class="product-rating">
                        @if (item.AverageRating != null)
                        {
                            for (int i = 0; i < item.AverageRating; i++)
                            {
                                <i style=" background: #FFF; color: #ef233c;" class="fa fa-star"></i>
                            }

                            for (int i = 0; i < 5 - item.AverageRating; i++)
                            {
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            }
                        }
                        else
                        {
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                        }
                    </div>
                </td>
            }

            if (productIndex == 2)
            {
                <td>
                    <div class="product-rating">
                        @if (item.AverageRating != null)
                        {
                            for (int i = 0; i < item.AverageRating; i++)
                            {
                                <i style=" background: #FFF; color: #ef233c;" class="fa fa-star"></i>
                            }

                            for (int i = 0; i < 5 - item.AverageRating; i++)
                            {
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            }
                        }
                        else
                        {
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                        }
                    </div>
                </td>
            }

            if (productIndex == 3)
            {
                <td>
                    <div class="product-rating">
                        @if (item.AverageRating != null)
                        {
                            for (int i = 0; i < item.AverageRating; i++)
                            {
                                <i style=" background: #FFF; color: #ef233c;" class="fa fa-star"></i>
                            }

                            for (int i = 0; i < 5 - item.AverageRating; i++)
                            {
                                <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            }
                        }
                        else
                        {
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                            <i style=" background: #FFF; color: #E4E7ED;" class="fa fa-star-o"></i>
                        }
                    </div>
                </td>
            }


        }
    </tr>
    <tr id="comparison_price_row">
        <th> Price</span> </th>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;
            if (productIndex == 1)
            {
                <td style="background-color: #ffffde;">
                    @if (item.PromoSaleOFF > 0)
                    {
                        if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                        {

                            <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.DiscountedPrice).ToString("#,##0.00") <del style="font-size: 12px;font-weight: 400;color: #8D99AE;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</del></h4>
                        }
                        else
                        {
                            <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                        }
                    }
                    else
                    {
                        <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                    }
                </td>
            }

            if (productIndex == 2)
            {
                <td>
                    @if (item.PromoSaleOFF > 0)
                    {
                        if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                        {

                            <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.DiscountedPrice).ToString("#,##0.00") <del style="font-size: 12px;font-weight: 400;color: #8D99AE;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</del></h4>

                        }
                        else
                        {
                            <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                        }
                    }
                    else
                    {
                        <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                    }
                </td>
            }

            if (productIndex == 3)
            {
                <td>
                    @if (item.PromoSaleOFF > 0)
                    {
                        if (DateTime.Now >= item.PromoSaleStartDateTime && DateTime.Now <= item.PromoSaleEndDateTime)
                        {

                            <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.DiscountedPrice).ToString("#,##0.00") <del style="font-size: 12px;font-weight: 400;color: #8D99AE;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</del></h4>
                        }
                        else
                        {
                            <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                        }
                    }
                    else
                    {
                        <h4 style="color: #D10024;font-size:14px;">₱@Convert.ToDecimal(item.OriginalPrice).ToString("#,##0.00")</h4>
                    }
                </td>
            }


        }
    </tr>
    <tr id="comparison_sold_by_row">
        <th role="rowheader"> Sold By</span> </th>

        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;

            if (productIndex == 1)
            {
                <td style="background-color: #ffe;"><a>@item.Brand.Name</a>   </td>
            }


            if (productIndex == 2)
            {
                <td><a>@item.Brand.Name</a>   </td>
            }

            if (productIndex == 3)
            {
                <td><a>@item.Brand.Name</a>   </td>
            }


        }
    </tr>


    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Computer Memory Size</span> </th>
        <td style="background-color: #ffffde;">32.0 GB</td>

        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>16 GB</td>
            }

            if (productIndex == 3)
            {
                <td>16 GB</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> CPU Model</span> </th>
        <td style="background-color: #ffe;">Intel Core i9</td>

        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>Core i7 Family</td>
            }

            if (productIndex == 3)
            {
                <td>Core i7</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> CPU Model Manufacturer</span> </th>
        <td style="background-color: #ffffde;">Intel</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>Intel</td>
            }

            if (productIndex == 3)
            {
                <td>Intel</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> CPU Speed</span> </th>
        <td style="background-color: #ffe;">2.50 GHz</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>4.6 GHz</td>
            }

            if (productIndex == 3)
            {
                <td>4.6 GHz</td>
            }
        }

    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Display Resolution Maximum</span> </th>
        <td style="background-color: #ffffde;">1920 X 1200 pixels</td>

        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>3840 x 2400 pixels</td>
            }

            if (productIndex == 3)
            {
                <td>3840 x 2400 pixels</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Screen Size</span> </th>
        <td style="background-color: #ffe;">17 inches</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>17 inches</td>
            }

            if (productIndex == 3)
            {
                <td>17 inches</td>
            }
        }

    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Graphics Coprocessor</span> </th>
        <td style="background-color: #ffffde;">NVIDIA GeForce RTX 3060</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>NVIDIA GeForce RTX 3050</td>
            }

            if (productIndex == 3)
            {
                <td>NVIDIA GeForce RTX 3050</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Hard Disk Description</span> </th>
        <td style="background-color: #ffe;">SSD</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>SSD</td>
            }

            if (productIndex == 3)
            {
                <td>SSD</td>
            }
        }

    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Hard Disk Size</span> </th>
        <td style="background-color: #ffffde;">1 TB</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>512 GB</td>
            }

            if (productIndex == 3)
            {
                <td>512 GB</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Hardware Platform</span> </th>
        <td style="background-color: #ffe;">PC</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>PC</td>
            }

            if (productIndex == 3)
            {
                <td>PC</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Human Interface Input</span> </th>
        <td style="background-color: #ffffde;">Microphone</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>Touchscreen</td>
            }

            if (productIndex == 3)
            {
                <td>Touchscreen</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Operating System</span> </th>
        <td style="background-color: #ffe;">Windows 10 Pro</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>Windows 11 Home</td>
            }

            if (productIndex == 3)
            {
                <td>Windows 10 Pro</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Processor Count</span> </th>
        <td style="background-color: #ffffde;">1</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>8</td>
            }

            if (productIndex == 3)
            {
                <td>8</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> RAM Type</span> </th>
        <td style="background-color: #ffe;">DDR4 SDRAM</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>DDR4 SDRAM</td>
            }

            if (productIndex == 3)
            {
                <td>SDRAM</td>
            }
        }
    </tr>
    <tr class="comparison_other_attribute_row">
        <th role="rowheader"> Wireless Communication Technology</span> </th>
        <td style="background-color: #ffffde;">Wi-Fi</td>
        @{ productIndex = 0; }
        @foreach (var item in Model)
        {
            productIndex += 1;


            if (productIndex == 2)
            {
                <td>Bluetooth, Wi-Fi</td>
            }

            if (productIndex == 3)
            {
                <td>Wi-Fi, Bluetooth</td>
            }
        }
    </tr>

    </tbody>
</table>


