@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="header-links pull-right" style="padding-right: 20px;">
            @if (User.IsInRole("Admin"))
            {
                <li>

                    <div class="dropdown">
                        <i class="glyphicon glyphicon-cog"></i>
                        <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">
                            Dashboard
                            <span class="caret"></span>
                        </a>
                        <ul class="header-links dropdown-menu">
                            <li style="width:100%">@Html.ActionLink("Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
                            <li style="width:100%"><a href="~/Products/Create">Create New Product</a></li>
                            <li style="width:100%"><a href="~/Products/Index">Manage Product</a></li>
                        </ul>
                    </div>
                </li>
            }

            <li><a href="~/Manage"><i class="fa fa-user-o"></i> Hello @User.Identity.GetUserName()!</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-log-out"></i>Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="header-links pull-right"  style="padding-right: 10px;">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
